[2014-10-13 02:01] BrainCrumbz opened #3 "Found error: TypeError: Object function () ... has no method 'on'"
I'm preparing a gulpfile using, among others, the gulp-6to5 plugin. It does not seem to be a transpiling issue (see https://github.com/sebmck/6to5/issues/58).

When running the following 'build' gulp task (sixToFive is 'gulp-6to5'):

[code]

I got the following error:

[code]

(I replaced with `..rootDir..` here, just not to show long paths in the post)

When `config.production` evaluates to `fals

[2014-10-13 10:45] #3 closed, assigned to nobody

[2014-10-21 19:31] djindjic opened #4 "Amd Modules not Generated"
Following gulp code generates default common modul

var gulp = require('gulp');
var to5 = require('gulp-6to5');

gulp.task('default', function () {
    return gulp.src('src/app.js')
        .pipe(to5({ modules: "amd" }))
        .pipe(gulp.dest('dist'));
});

In:
import foo from "foo";

class Foo extends Bar {
  constructor() { }

  foo() { }
}

Out:
"use strict";
var foo = require("foo").default;

[2014-10-21 20:58] #4 closed, assigned to nobody

[2015-01-13 14:48] moderndeveloperllc opened #9 "Add tag for 2.0"
Sorry to be pedantic, but could you add the 2.0.0 release as a tag? Just for reference sake if nothing else. Thanks.

[2015-01-13 15:45] sindresorhus commented on #9
Done.

@sebmck Can you use https://gist.github.com/sindresorhus/8435329 or something to do releases? That way this never happens.

[2015-01-13 15:45] #9 closed

[2015-01-13 20:38] sebmck commented on #9
@sindresorhus Sure, sorry!

[2015-01-13 20:41] sindresorhus commented on #9
No worries. It's very easy to forget (hence tooling) :)

[2015-01-14 14:50] rmilesson opened #10 "Error while installing on windows 8"
Getting the following while trying to install locally in a project on a machine running Windows 8. Am I missing a dependency or something?
[code]

[2015-01-14 15:04] #10 closed

[2015-01-14 15:21] rmilesson commented on #10
Ah, completely missed that. Thanks!

[2015-01-24 21:08] lukescott opened #11 "6to5-core dependency"
Is 6to5-core the old name? I have 6to5 and gulp-6to5 as a dependency, and it's downloading 6to5-core in node_modules/gulp-6to5/node_modules/6to5-core instead of using the existing node_modules/6to5.

[2015-01-24 22:54] sebmck commented on #11
`6to5-core` is a build of 6to5 with some dependencies removed and no bin scripts.

[2015-01-24 22:54] #11 closed

[2015-02-20 22:58] yukulele opened #16 "crash on error"
gulp-babel make gulp crash when their is an error on source

my source:

    var i = 5:

error:

    [15:50:28] Starting 'babel'...
    [15:50:28] Finished 'babel' after 111 ms

    events.js:125
          throw er; // Unhandled 'error' event
                ^
    SyntaxError: C:/wamp/www/src/js/test.js: Unexpected token (1:9)

[2015-02-20 23:35] sebmck commented on #16
Yep, you need to add an `error` handler to your gulpfile. If you post your gulpfile.js I can show you what to put and where to put it.

[2015-02-20 23:41] yukulele commented on #16
my `gulpfile.js`:
[code]

[2015-02-21 05:13] sindresorhus commented on #16
[code]

This is how all gulp plugins works and nothing specific to this one.

[2015-02-21 05:13] #16 closed

[2015-02-22 20:29] Mech7 opened #17 "slow with react"
If i add a watch with react it takes around 29 sec to build.

[2015-02-22 21:44] sebmck commented on #17
I need more information. Can you provide your gulpfile?

[2015-02-23 18:29] Mech7 commented on #17
Sure this is what my gulpfile looks like: https://gist.github.com/Mech7/2fb3be27652dde7f5b39
when i comment out line 30: .pipe(to5()) it goes fast again.
Am not really sure if this is a issue with gulp-babel or babel though.

[2015-02-23 22:34] sebmck commented on #17
How big is `/home/chris/www/react-mediabank/react-mediabank/bundle.js`?

[2015-02-25 18:46] Mech7 commented on #17
it is 361 kb pretty much all of it is react

[2015-02-25 20:58] sebmck commented on #17
@Mech7 Why are you running babel over your builds (which will also transpile unnecessary files such as react) instead of individual files?

[2015-02-26 10:58] john-cheesman commented on #17
I'm getting the same message with Angular. I'm using Babelify and Browserify Shim as transforms and running in a Gulp task so everything is going through Babel.

[2015-02-26 11:02] sebmck commented on #17
@john-cheesman Ignore that folder/file. You should **not** under any circumstance be transpiling vendor files through Babel as it's unnecessary overhead and there are differences between ES5 and ES6 such as implicit strict mode that will outright break vendor code.

[2015-02-26 14:25] john-cheesman commented on #17
Sorted, thanks. I was using it as a global transform, bad idea :smile:

[2015-02-26 18:03] Mech7 commented on #17
Ah ok i didn't know i wasn't supposed to do that either :)

[2015-02-26 18:03] #17 closed

[2015-03-02 20:35] Mech7 opened #18 "react support"
I am trying the react support in babel with browserify & watchify only i am getting an error:

Gulpfile
https://gist.github.com/Mech7/39998f130bc0917fad39

[code]

On some very simple test code (taken from the page):

[code]

[2015-03-02 22:31] sebmck commented on #18
This error is being thrown by one of the previous gulp plugins. Please use the [gitter room](https://gitter.im/babel/babel) for support and questions, thanks!

[2015-03-02 22:31] #18 closed

[2015-03-05 17:00] brianfeister opened #19 "Globbing patterns in white/blacklist?"
I was surprised that gulp-babel doesn't like this globbing pattern `'client/{app,common}/**/*.js` ... any reason for this?  Would a PR be welcome?  I would just be adding [`glob`](https://www.npmjs.com/package/glob) and then running it on `white/blacklist` parameters.

[2015-03-05 17:20] sindresorhus commented on #19
If you need globbing on the whitelist/blacklist it needs to be added to Babel, and not this plugin.

[2015-03-05 17:20] #19 closed

[2015-03-19 14:04] AlexanderTserkovniy opened #20 "events.js:72 Gulp breaks preprocessing showing very strange error"
I have a file and babel worked there fine, but something happened and it stopped preprocessing. it started throwing an error:

[code]

I went to google and asked and was given with this solution [link](http://stackoverflow.com/questions/24011349/gulp-error-events-js72).

Now it shows me these info:
[code]

Gulpfile
[code]
While the project itself on tab "Try it out" works fine.

Could you help me?

[2015-03-19 14:15] sebmck commented on #20
No idea where that error is coming from but it's not [gulp-babel](https://github.com/babel/gulp-babel/search?utf8=%E2%9C%93&q=Currency).

[2015-03-19 14:24] AlexanderTserkovniy commented on #20
Here is full trace of previous version without error handling:

[code]

In the last link, which is `node_modules\gulp-babel\node_modules\babel-core\node_modules\acorn-babel\acorn_csp.js:2196:7)` it this function:

[code]

[2015-03-19 14:26] sebmck commented on #20
Something's messing with the source of `acorn_csp.js` as the verison on npm definently doesn't have that.

[code]

[2015-03-19 14:43] AlexanderTserkovniy commented on #20
[code]

[2015-03-19 14:46] sebmck commented on #20
Try reinstalling `gulp-babel`. `$ rm-rf node_modules && npm install`. Did you accidently do a search and replace on your entire `node_modules` directory? Otherwise it doesn't make much sense as that definently isn't in the npm release.

[2015-03-19 14:50] AlexanderTserkovniy commented on #20
Try reinstalling `gulp-babel`, helped.
Thanks!

[2015-03-19 14:51] #20 closed

[2015-03-21 15:20] barneycarroll opened #21 "Stream doesn't have `on`"
I'm using gulp babel with sourcemaps pretty much as indicated by the README:

[code]

Everything is compiled and mapped as I desire, but the `compile` task ends violently:

[code]

Any ideas?

[2015-03-21 15:22] sebmck commented on #21
The error is coming from your `serve` gulp task and from most likely the `sync` call which is completely unrelated to `gulp-babel`.

[2015-03-21 15:24] barneycarroll commented on #21
But the log is specifically telling me that the `compile` task errored. It doesn't even get to `serve`…

[2015-03-21 15:25] sebmck commented on #21
[code]

[2015-03-21 15:35] barneycarroll commented on #21
:O weeeird. Well-spotted, thanks. I'll post back when I've tracked this down.

[2015-03-21 15:35] #21 closed

[2015-03-26 11:59] Shershnev-AV opened #23 "import { Anything } throw error Duplicate declaration"
I have two files
first `app-size.srv.js`
[code]
second `app-size.dir.js`:
[code]
if i use `babel` after `concat` in my gulpfile
[code]
then i get error
[code]

If i use `babel` before `concat` in my gulpfile then in the `app.build.js` file I have much duplicate code
[code]
duplicate `use strict`
duplicate declaration of `_classCallCheck` and `AppSizeService` too

gulp version: 3.8.11
gulp-babel ve

[2015-03-26 12:12] sindresorhus commented on #23
From the top of the readme:

[2015-03-26 12:12] #23 closed

[2015-04-04 00:32] nmehta6 opened #24 "Compiled file does not change the file extension from .es6 to .js"
I have a few files that I am trying to compile with babel in my project. Since I don't want all .js files to be processed through the babel compiler, I have used .es6 extension for the ones that I do want to be compiled. However, the output file does not have the .js extension. It keeps the .es6 extension. Is this supported? Thanks.

[2015-04-07 19:07] agantelin commented on #24
You can use other plugins for it.
gulp-extname for example: https://www.npmjs.com/package/gulp-extname

[2015-04-07 19:31] nmehta6 commented on #24
Would this be considered as a feature? I think that it is very useful to only provide files with a specific extension (.es6 for instance) for projects that have some files that need to be compiled by babel. As for the compiled file, it is a norm for transpilers to produce a .js file.

[2015-04-07 20:01] ericmdantas commented on #24
@nmehta6, I have a similar issue and I'm using gulp-babel to solve this.

[Here's the issue](https://gitter.im/babel/babel?at=5522a52f1f582983259f5986) and [here's the solution](https://gitter.im/babel/babel?at=5522a52f1f582983259f5986).

[2015-04-07 20:06] nmehta6 commented on #24
@ericmdantas Thanks. I considered that approach. I was wondering if this renaming would be included in this project as a feature. For example, https://github.com/babel/babelify allows you to pass in an array of extensions and still compiles to .js.

[2015-04-07 21:25] ericmdantas commented on #24
@nmehta6, yeah I thought babel had something related to renaming the extensions too, but I couldn't find anything. Maybe it's still out there.

For now, that approach will do just what the feature would do - so I'm sticking to it for now.

But maybe @sebmck could give us a hint.

[2015-04-07 21:44] sebmck commented on #24
I'm not at all familiar with gulp so I I'm not sure on best practices.

[2015-04-07 22:27] ericmdantas commented on #24
Actually, it's not about gulp, it's about babel doing this "extension renaming" out of the box.

I couldn't find anything other than extension renaming for single files, like: "index.es6 to index.js".

If you have some folders, looks like there's no way to turn this:

[code]

Into this:

[code]

[2015-04-08 11:32] #24 closed

[2015-04-08 12:07] ericmdantas commented on #24
@sindresorhus, Thanks!

Just a question, can we make this configurable?

Like, tomorrow we could be using ```.esWhatever```.

[2015-04-08 12:12] sindresorhus commented on #24
@ericmdantas It will convert any extension to `.js`. No need for it to be configurable.

[2015-04-08 12:57] ericmdantas commented on #24
@sindresorhus, alright, thanks!

Gonna try it later today.

[2015-04-08 13:22] nmehta6 commented on #24
Tested it and works great. Thanks!

[2015-04-10 07:44] PinkaminaDianePie commented on #16
Does not help for me.
case:
compiling my files with this code:

	return gulp.src(paths.jsServer.concat(paths.serverExclude))
		.pipe(insert.prepend('require("source-map-support").install();require("babel/polyfill");'))
		.pipe(sourcemaps.init())
		.pipe(babel())
		.on('error', console.error.bind(console))
		.pipe(sourcemaps.write('.'))
		.pipe(gulp.dest(paths.dest+'server/build'));

if syntax erro

[2015-04-10 15:08] yang-wei opened #25 "Can I know that is the default `gupl-babel` including polyfill by default"
The docs said

[code]

[gulp-babel](https://github.com/babel/gulp-babel/blob/master/index.js#L7) is doing
[code]
So I think polyfill is not included but again the [doc](http://babeljs.io/docs/usage/polyfill/#usage-in-browser) said that polyfill is

Can you help me to clear this up?

[2015-04-10 15:09] sebmck commented on #25
It's not included by default, no.

[2015-04-10 15:09] #25 closed

[2015-04-13 04:48] mmahalwy commented on #25
@yang-wei how'd you add it?

[2015-04-13 04:57] yang-wei commented on #25
I was hoping to exclude it.
If you want to add it, I think
[code]
will do the tricks. http://babeljs.io/docs/usage/require/#usage

@mmahalwy

[2015-04-14 11:50] ustccjw opened #26 "error handler then watch Failed."
[code]

as above, when `.js` file syntax error, babel will failed, then error catched, but after then `task watch` do not work.

[2015-04-14 17:23] sindresorhus commented on #26
Support questions are better asked on StackOverflow:
http://stackoverflow.com/questions/tagged/gulp
Paste in the link to the question here so others can follow ;)

[2015-04-14 17:23] #26 closed

[2015-04-15 21:17] mmahalwy commented on #25
@yang-wei but I need it to run in frontend js world.

[2015-04-16 04:08] yang-wei commented on #25
@mmahalwy
Then include `browser-polyfill.js`
http://babeljs.io/docs/usage/polyfill/#usage-in-browser

[2015-04-24 17:37] agzam opened #27 "How to use the polyfill"
What's the best way to use the polyfill? I couldn't find the better way but to include it into glob like this:

[code]

Is there any better way?

[2015-05-12 16:41] th0r commented on #24
@sindresorhus I have the opposite requirements - I don't want `*.jsx` files to be renamed to `*.js`.
Can you make this feature optional?

[2015-05-12 17:35] sindresorhus commented on #24
No, that's too much of an edge-case. Just use `gulp-rename`.

[2015-05-12 18:56] th0r commented on #24
@sindresorhus Can't agree here. Every `gulp` plugin should do only one thing (I think it's your words 😉), so `gulp-babel` should transform code and `gulp-rename` - rename files. I was very surprised that my `*.jsx` files were renamed to `*.js`. Besides, I can't use `gulp-rename` after `gulp-babel` because some of my transformed files has `js` extension and some `jsx` and I just don't know, which o

[2015-05-12 19:01] sindresorhus commented on #24
Why do you need this?

[2015-05-12 20:05] th0r commented on #24
@sindresorhus In my isomorphic project (node/webpack) I use `babel/register` in dev and compilation step for prod. I use `jsx` extentions for react components cause it's more informative and it's not js really.
So I have requires like `require('./Button.jsx')` in node scripts and this breaks after build step because it's `Button.js` now.

[2015-05-13 07:18] th0r commented on #24
@sindresorhus So what do you think? IMHO it's much simpler and more obvious not to change extention in `gulp-babel` and use `gulp-rename` for this (one additional line of code) or make this behavior optional than change extention and try to change it back somehow. Something tells me that my use-case is not so rare ;)

[2015-05-13 13:38] sindresorhus commented on #24
Babel compiles your JSX, right? So when it comes out of this plugin it's no longer JSX, but plain JS, hence the extension change.

[2015-05-13 14:53] th0r commented on #24
@sindresorhus Ok. For the others who'll face this problem, here is my solution:
[code]

[2015-05-13 15:38] MikeMcElroy commented on #27
This looks like it will re-compile the browser-polyfill through babel, which is probably not what you want?  I'd suggest using mergeStream and then concat --
[code]

[2015-05-16 17:11] sindresorhus commented on #24
@th0r I came up with a better solution for you. I made a gulp plugin that can revert to the previous path. So you can simplify it to:

[code]

https://github.com/sindresorhus/gulp-revert-path

[2015-05-19 20:36] michaelBenin opened #29 "Update documentation for inline sourcemaps, or optional config for babel"
For my needs, I was able to accomplish inline source maps passing options directly to babel.

The use case is transpiling server side node.

[code]

[2015-05-19 20:59] sindresorhus commented on #29
The blessed source map way is this: https://github.com/babel/gulp-babel#source-maps

You can do inline source map with it too.

[2015-05-19 20:59] #29 closed

[2015-06-24 18:50] umkatakam opened #30 "How to transpile es7 async functions"
Hi @sindresorhus ,

How would I configure `gulp-babel` to transpile es7 async functions and in general es7 features?

Thank you.

[2015-06-24 21:46] sindresorhus commented on #30
You enable that transformer. See the link to the Babel options in the readme.

[2015-06-24 21:46] #30 closed

[2015-07-01 18:14] sbalay commented on #27
Any other suggestions on this one?

[2015-07-10 19:19] dcherman opened #31 "Accessing `metadata.usedHelpers`"
http://babeljs.io/docs/advanced/external-helpers/#selective-builds

Using gulp-babel, how can we access `metadata.usedHelpers` in order to build a file containing only the helpers that are needed for a given project?

[2015-07-12 00:57] kevinb7 commented on #16
@PinkaminaDianePie I ran into the same issue.  I ended up modifying the plugin so that it doesn't `emit` an error.  Instead it just logs the error.  This allows the babel to continue running after you fix the syntax error.

gulp-babel/index.js (before):
[code]
gulp-babel/index.js (after):
[code]

[2015-07-15 12:14] joaomilho commented on #27
I would really like to be able to use the polyfill without needing a compile step, specially for demo purposes. Adding it to a CDN would also be lovely.

[2015-07-19 22:52] JacobMarshallDA commented on #31
I would love an answer to this, without having to use the `babel` module directly. Bump.

[2015-07-24 16:57] jeffkole commented on #24
@th0r & @sindresorhus Thank you for the work on this.  I ran into the same issue, and this solution saved me a huge hassle and headache.

[2015-07-30 15:27] #31 closed

[2015-07-31 14:30] darkbaby123 commented on #16
I found there's no need to modify the plugin. Just add `this.emit('end')` on error handler and it works.

Below is my whole task:

[code]

[2015-08-04 13:33] davismj opened #33 "parser errors on various import syntaxes"
`import * from 'lib'` or `import {*} from 'lib'` throws parser errors.

[2015-08-04 13:34] sebmck commented on #33
This isn't a `gulp-babel` specific issue. Those errors are indeed correct, both of those forms are invalid.

[2015-08-04 13:34] #33 closed

[2015-08-06 10:19] alexbeletsky commented on #27
Really interesting in that as well.

[2015-08-11 13:28] omerts opened #34 "Add babel-runtime option"
In order to avoid having to use babel/polyfill in a library, which is not recommended, please add babel-runtime to the project, and that way we can use the babels option:
[code]

[2015-08-11 13:31] sebmck commented on #34
You can already set any option that Babel supports. You can see the documentation in the [README](https://github.com/babel/gulp-babel#babeloptions). Thanks!

[2015-08-11 13:31] #34 closed

[2015-08-11 14:05] omerts commented on #34
@sebmck The babel docs say:
[code]

[2015-08-11 14:05] sebmck commented on #34
Yep. Just install it via `npm install babel-runtime`.

[2015-08-11 14:09] omerts commented on #34
@sebmck Ok thought it might be a good idea to add it as a dependency here, but on second thought you are right. Thank you.

[2015-08-11 19:17] mgenev opened #35 "docs don't say anything about where to place the babel config"
I want to add some optional flags like `bluebirdCoroutines`, but the docs don't make it obvious how to.
using `babel().transform("code", { optional: ["bluebirdCoroutines"] })`  like the normal library, results in `undefined is not a function`.

[2015-08-11 19:33] #35 closed

[2015-08-11 19:45] mgenev commented on #35
OK, I saw the options bit, doh, which implies this should work:
`        .pipe(babel({optional: ['es7.asyncFunctions']}))`
but it doesn't...
I still get

[code]

[2015-08-13 10:23] lokeshjainRL opened #36 "Using generator in the code gives error."
I currently started using `gulp-babel` in our project. so far so good, nice work.

In the gulp task

[code]

When i used generator

[code]
 in my code the compiled code give me  this error

[code]

How to use babel fullest. this code works on babel editor. I see they include some polyfill.
How to tell `gulp-babel` to include one.
Can't this be made automatic. if Code requires some polyfill, it wil

[2015-08-13 12:37] sebmck commented on #36
You can read more about the polyfill in the docs [here](https://babeljs.io/docs/usage/polyfill/). There's nothing special about it's usage with `grunt-babel` and there shouldn't really be anything specific anyway.

The heuristics for determining if a polyfill is required is extremely muddled. It's up to the user to specify it and it should not be an opinion imposed by default.

If you have any fur

[2015-08-13 12:37] #36 closed

[2015-08-14 05:11] lokeshjainRL commented on #36
Thanks for the info.
This can be great value for the end user if the required polyfill will be
available by default.
naive user like me come to know about this by surprise, when they see error.

On Thu, Aug 13, 2015 at 6:07 PM, Sebastian McKenzie <
notifications@github.com> wrote:

--
Lokesh kumar Jain
*ReachLocal Services Pvt. Ltd.*
5-B | Express Zone Towers  |  Patel Vanika |  Western Express Hi

[2015-08-19 21:44] BobobUnicorn opened #37 "Automatic file extension renaming outputs incorrect file name in source map."
The output sourcemap for `test.es6`:
[code]

is:
[code]

The file attribute should be 'test.js'.

In practice, I've found some plugins ignore this; however gulp-uglify does not and therefore does not preserve the source map generated by babel.

[2015-08-20 05:29] #37 closed

[2015-09-10 21:04] metaraine commented on #27
In Pull Request #38 I suggested adding a section to the README which clarifies how to include the babel runtime. I'm not sure if that is the same as the browser polyfill though.

[2015-09-14 18:14] jeromecovington commented on #24
@sindresorhus the revert path is a great addition. I am getting `Error: EMFILE, too many open files` with the gulp approach vs. command line, but I do want my babel task in a proper build system.

[2015-09-15 15:33] jeffkole commented on #24
@jeromecovington That error indicates that the Node process does not have permissions to open all of the files it wants to open at the same time, which is an operating system setting.  On Linux or a Mac, you can typically run `ulimit -n 2048` to increase the limit of open files to 2048.  The default is often 256. Give that a shot and try again.

[2015-09-16 13:00] senja006 opened #39 "Error The code generator has deoptimised"
[BABEL] Note: The code generator has deoptimised the styling of "/Users/.../markup/static/js/libraries/jquery.js" as it exceeds the max of "100KB".

[2015-09-16 13:01] sebmck commented on #39
Posting a logline isn't really helpful. That error is not produced by `gulp-babel` but from `babel-core`. The message is pretty self explanatory. You shouldn't be passing third party vendor assets through Babel.

[2015-09-16 13:01] #39 closed

[2015-09-17 15:45] gajus opened #40 "Add an option to create symlink for all non-JavaScript files"
The original issue: http://stackoverflow.com/questions/32634521/is-there-a-variable-that-refers-to-the-package-base-directory?noredirect=1#comment53117653_32634521

Using gulp-babel to transpile code directories leaves out dependencies that are not JavaScript (e.g. JSON). All relative references to these dependencies will fail. Two possible solutions:

* Create a symlink
* Append a string to every

[2015-09-19 15:11] rodoabad opened #41 "Double 'use strict' when transpiling."
Sample code.

[code]

Output.

[code]

I'm only piping `gulp-babel` nothing else. I'm also using default settings.

[2015-09-19 15:23] #41 closed

[2015-09-29 18:51] benderTheCrime commented on #40
There is actually and option to "copy files" from the Babel CLI:
[code]
Whether symbolic or not, I am looking for gulp-babel to support this option as well. I have tried both `copyFiles: true` and `'copy-files': true` in the options hash piped to Babel. Is this in the plan for a future version of this package?

[2015-09-29 18:53] sebmck commented on #40
That open is only available via the CLI.

[2015-09-29 18:59] benderTheCrime commented on #40
Is it perhaps possible to edit this package to use the CLI as opposed to the `babel.transform` function? I understand why transform does not have the capacity to copy files from anywhere to anywhere, but this seems like something that is a valid (and perhaps widely needed) use case with respect to transpiling a directory with gulp

[2015-09-29 19:00] benderTheCrime commented on #40
I have a temporary workaround with gulp-copy, but I am not proud of the code:

[code]

[2015-10-01 14:03] gajus commented on #40
You do not need [`gulp-copy`](https://www.npmjs.com/package/gulp-copy) for copying files.

[code]

[2015-10-01 14:03] #40 closed

[2015-10-01 15:25] benderTheCrime commented on #40
How the copy is accomplished without the `copy-files` options seems irrelevant to not having the `copy-option`. I just posted my code to show that it was inconvenient to not have the option in the gulp plugin. I feel as though issue resolution should imply a response to the original issue and not a workaround even if the resolution is "We don't want to do this," but hey, it's not my tool, I'm just

[2015-10-01 15:26] sebmck commented on #40
@benderTheCrime The person who closed this is the person who opened the issue :)

[2015-10-01 15:36] gajus commented on #40
`gulp-babel` as a `gulp` plugin has a single responsibility – compile JavaScript files down to ES5. It is not up to `gulp-babel` to do anything beyond that.

This is not even a workaround – `gulp` is designed to work with files.

On the other hand, `babel` as a CLI program cannot leverage the flexibility of `gulp` and it is good that it integrates a cross-platform friendly feature to copy over all

[2015-10-01 15:36] sindresorhus commented on #40
@benderTheCrime That's not how it's done with Gulp. Idionmatic Gulp prefers separate plugins doing one thing, instead of every plugins doing everything. You already got a good answer. Another option is to source all the files, and use `gulp-if` to only run Babel on the JS files. `gulp-filter` would work too if you have many plugins that should run on only JS files.

[2015-10-01 16:26] benderTheCrime commented on #40
@sindresorhus that makes sense and now that you put it that way (in the context of gulp), I understand. Thanks!

Sent from my iPhone

[2015-10-07 10:31] WangJi commented on #27
You may try this:

npm install `babel-runtime`

[code]

This works for me in Node environment.

[2015-10-07 10:34] zloirock commented on #27
@WangJi `runtime` does not add **all** polyfill features.

[2015-10-09 21:44] yairEO opened #42 "Causes Gulp to break on JS errors"
when using `.pipe(babel())` Gulp  breaks on errors and must be restarted - Pretty annoying..
Any workaround?

Thanks!

[2015-10-10 06:47] Olgagr opened #43 "file.isNull() -> TypeError: undefined is not a function"
I'm trying to use gulp-babel but I'm getting this error:

[code]

My gulp task look like this:

[code]

My gulp version is 3.9.0.

[2015-10-10 06:57] Olgagr commented on #43
Sure enough, I have to user babelify instead of gulp-babel to make it work with browserify.

[2015-10-10 06:57] #43 closed

[2015-10-10 08:01] sindresorhus commented on #42
Yes, that's how all gulp plugins work. This is all documented in the gulp docs and its recipes.

[2015-10-10 08:01] #42 closed

[2015-10-21 09:03] azat-io opened #44 "Error while parsing JSON"
Hello.

Could you help me with this simple question. All of my projects locate in ```/home/azat/git/```. For example if my project name is ```project``` it is in ```/home/azat/git/project``` folder.

In the ```project``` folder there are ```gulpfile.js```, ```package.json``` files and ```node_modules``` folder with npm packages.

Here is a part of my **gulfile.js**:

[code]

But if I put command `

[2015-10-21 13:29] azat-io commented on #44
I found the solution of the problem. It was ```package.json``` in the ```/home/azat/git/``` folder, which is not my project folder. So, this is strange mistake.

[2015-10-21 13:29] #44 closed

[2015-10-23 04:07] egoist opened #45 "How to keep the `.jsx` extensions ?"
I use babel to compile `.jsx` to `.js` files but I want the compiled files to keep the `.jsx` extension.

Well My gulp task is:

[code]

Any idea how to config this?

[2015-10-23 06:49] sindresorhus commented on #45
Already been answered in another issue.

[2015-10-23 06:49] #45 closed

[2015-10-23 07:13] egoist commented on #24
@th0r I think if you are using webpack you don't have to `require('./button.jsx')` but directly `require('./button')` by adding :

[code]

to your webpack.config.js.

and for gulp-babel you just keep those `.jsx` files compiled to `.js`

on the server side, the same:

`require('/path/to/button')`

[2015-10-23 07:15] egoist commented on #45
thanks, due to https://github.com/babel/gulp-babel/issues/24 I think there's no need to keep that `.jsx` extension.

[2015-10-23 07:33] th0r commented on #24
@egoist Thanks! That's exactly what I'm doing right now)

[2015-10-23 07:40] sindresorhus commented on #24
Happy to add some tips to the readme if someone cares enough to do a PR ;)

[2015-10-23 17:50] jeromecovington commented on #24
Does babel not rewrite the module ids without extensions anyway? At least by default? As option -  `keepModuleIdExtensions: false`

[2015-10-30 01:07] SrMouraSilva opened #47 "Update to Babel 6"
Please, update by Babel 6

http://babeljs.io/blog/2015/10/29/6.0.0/

[2015-10-30 01:09] sindresorhus commented on #47
Seriously... (-_-)

https://github.com/babel/gulp-babel/pull/46

[2015-10-30 01:09] #47 closed

[2015-10-30 01:13] SrMouraSilva commented on #47
I sought and found a related issue.

You can delete this issue?

[2015-10-30 01:42] sindresorhus commented on #27
https://babeljs.io/docs/usage/polyfill/#usage-in-browser

[2015-10-31 16:35] rodoabad opened #48 ".babelrc file"
Do I need to specify the `.babelrc` file when using `gulp-babel`? I didn't see any options for it.

[2015-10-31 16:44] sindresorhus commented on #48
No, it should just work.

[2015-10-31 16:44] #48 closed

[2015-10-31 18:53] Sk1Zy commented on #48
@sindresorhus Will it read from the .babelrc file when present?

[2015-10-31 18:57] sindresorhus commented on #48
Yes

[2015-11-02 22:19] inf3rno opened #49 "Using with gulp-jasmine"
I am trying to test the code with gulp jasmine:

[code]

I got

[code]

Any idea about what I am missing? The code appears to break because there are still ES6 keywords used. I am not sure how to fix this.

[2015-11-02 22:19] inf3rno commented on #49
I opened an issue here too https://github.com/sindresorhus/gulp-jasmine/issues/60

[2015-11-02 22:20] sindresorhus commented on #49
Use Stack Overflow for support questions.

[2015-11-02 22:20] #49 closed

[2015-11-02 22:25] inf3rno commented on #49
@sindresorhus Sent a question here: http://stackoverflow.com/questions/33488140/testing-with-gulp-babel-jasmine-on-nodejs

The readme file does not contain this.

[2015-11-03 08:57] owcc opened #50 "Cannot find module 'babel-runtime/regenerator'"
I use react 0.14/babel 6.0.14/koa, this is my **.babelrc** file:
{
    presets: ['stage-0', 'es2015', 'react'],
    plugins: ['transform-runtime']
}

[2015-11-05 19:45] dalanmiller commented on #43
@Olgagr What is the difference between the two?

[2015-11-06 04:54] Olgagr commented on #43
@dalanmiller In my case it was connecting together browserify + babel transformation. If you need to connect the two, you have to use babelify, not gulp-babel. Here is the gist with gulp task I finally use:

https://gist.github.com/Olgagr/e3efacebc74205ff898b

As you can see, I use there also watchify. It adds catching to speed up the task.

[2015-11-07 04:58] laicosly opened #52 "Unable to transpile ES6 > ES5"
[code]

This error is being thrown with the following stack when using presets: ["es2015"].  When not passing any options, the output file is not transpiled, it is an exact mirror of the original.

npm 2.14.7
node v4.2.1
gulp 4.0.0-alpha.1
gulp-babel  6.1.0

[code]

[2015-11-07 05:02] laicosly commented on #52
Manually entering my file contents onto the Babel "try it out" site, results in transpiled code.

https://babeljs.io/repl/

[2015-11-07 05:06] laicosly commented on #52
gulp-traceur is working.

[2015-11-10 20:50] trevoro commented on #52
I'm getting this same issue on my install.
The only difference is that I've upgraded `gulp-babel` to `6.1.0` from the `5.x.x` major version.
Nothing in the API seems to have changed. I am also using `gulpfile.babel.js`.

[2015-11-10 21:48] laggingreflex commented on #27
How would one do this in babel 6? It gives the error `Unknown option: base.optional`

[2015-11-10 22:57] tnguyen14 opened #53 "Unable to use with gulp-mocha"
I am trying to use this with `gulp-mocha` as following:

[code]

But that doesn't seem to work, with error such as

[code]

I have documented this case here https://github.com/tnguyen14/babel-gulp-mocha-test

I am not sure if I am doing something wrong? Any help would be hugely appreciated.

[2015-11-12 15:55] vzaidman opened #54 "Source-maps source path is wrong"
when babeling a simple es6 file exactly like in the example,
the "sources" property of the ".map" file is it's name instead of path.

so if you have two files with the same name they will collide in the "sources" directory when debugging.

[2015-11-12 22:30] doberkofler opened #55 ""no writecb in Transform class" when trying to run gulp-babel"
I just upgraded to the latest version of gulp-babel and babel-preset-es2015 and when running gulp-babel, I now get the following error message: no writecb in Transform class.
I assume, it has something to do with npm dependencies but also uninstalling all modules, removing the node_modules directory and reinstalling did not solve the problem. Any help is appreciated!

node: 4.2.1, npm: 3.3.9, gulp

[2015-11-13 16:39] bf commented on #17
Can you guys tell me how exactly you omitted babel-compilation of things like `require('react')`? Is it done by blacklisting in babel options?

[2015-11-14 13:25] dwelle opened #57 "throws on error + weird output"
similar to #20, re-install didn't help. `babel-cli` works fine so I figure it might be connected to `gulp-babel`.

[code]

gulpfile:

[code]

babel-cli output is ok:

[code]

gulp version:

[code]

babel-cli `v6.1.18 (babel-core 6.1.21)`, gulp-babel `6.1.0`

Windows 7, node `v4.2.1`

[2015-11-14 15:27] #55 closed

[2015-11-14 22:35] adampoczatek commented on #52
Same here, works on 5.3.0 though.

[2015-11-16 21:30] trevoro commented on #52
Aha. So the issue is that we're not reading through the changes well enough

You have to ensure you install the `babel-preset-es2015` package using

`npm install --save-dev babel-preset-es2015` then update your .babelrc file to include

[code]

then it started working again for me.

[2015-11-18 09:45] dsebastien commented on #53
You need to add `require("babel-core/register");` at the top of your file.

In my case it still doesn't work because my gulp task is in a sub directory and babel is then unable to find its plugins/presets :(

[2015-11-18 11:29] sindresorhus commented on #53
Use Stack Overflow for support questions. This isn't even relevant to this plugin, but rather gulp-mocha, which btw clearly explain why it doesn't work in its readme.

[2015-11-18 11:29] #53 closed

[2015-11-18 14:40] tnguyen14 commented on #53
@sindresorhus I know this is more of a gulp-mocha issue. However, I am unable to file an issue with gulp-mocha because I am somehow blocked from any repository that is owned by you.

Could you kindly point out which line explain why it doesn't work in the readme? I have read it over multiple times, and didn't get anywhere. I saw the line about adding `require('babel/register')`, but that's no long

[2015-11-18 15:07] Hi-Rube opened #58 "why slow~"
[code]
The project catalog like this
<img width="138" alt="2015-11-18 11 05 50" src="https://cloud.githubusercontent.com/assets/4507462/11244533/e9e4b22a-8e48-11e5-8af7-bc9c7ea2a640.png">

[2015-11-18 15:07] dsebastien commented on #53
@tnguyen14 check my answer on SO. It does work with the require.
FYI in my case the issue with presets not being found seems to be Yeoman-specific.

[2015-11-18 15:46] sindresorhus commented on #58
Use Stack Overflow for support questions.

[2015-11-18 15:46] #58 closed

[2015-11-18 17:07] timjchin commented on #54
Ran into the same issue, we weren't seeing any folder information in the sourcemaps, and @vzaidman's commit above (ad5f6c5) fixed it.  :+1:

[2015-11-19 14:31] glen-84 commented on #54
@sindresorhus Could you please apply this fix? Otherwise we can't use sourcemaps. :disappointed:

[2015-11-19 14:42] vzaidman commented on #54
its a temporary fix, i wouldn't recommend using it.
the fix should be somewhere deeper. (in the preset i think)

[2015-11-19 14:48] glen-84 commented on #54
Right, I should have said "please fix this" instead of "please apply this fix". :smile:

[2015-11-20 13:48] clarkmalmgren commented on #54
I am seeing the same issue.  @vzaidman's fix worked for me.  Not sure why it is considered temporary.

[2015-11-20 15:34] vzaidman commented on #54
look at the code.
replaceExt changes source map's pathes to filenames and then we change it back instead of replaceExt setting the pathes right.

[2015-11-20 22:09] mikehuebner commented on #41
Having a similar issue, did you come up with a solution?

[2015-11-24 14:57] clarkmalmgren commented on #54
So the problem was not in the renaming of the file but not in explicitly setting the source.  I kept the `replaceExt(...)` line and just added a line to keep the source file name mapping correct.  Submitting a pull request.

[2015-11-24 15:05] vzaidman commented on #54
I disagree.
The maps' source should not be changed and then changed again. They has to be set right inside the applySourceMap function.

[2015-11-25 08:00] wildtang opened #60 "Failed to use gulp and babel transpile JavaScript file"
I met a question, I do not know is it a bug of gulp-babel or not,
so I describe the question on StackOverflow and paste the link below.
http://stackoverflow.com/questions/33891286/failed-to-use-gulp-and-babel-transpile-javascript-file

[2015-11-25 08:03] #60 closed

[2015-11-27 08:36] #54 closed

[2015-12-01 15:19] kamlekar opened #62 "How to remove "use strict" from first line of all babel compiled files?"

[2015-12-01 17:30] sindresorhus commented on #62
Use Stack Overflow for support questions.

[2015-12-01 17:30] #62 closed

[2015-12-03 08:51] marsoln commented on #50
I got the same error.

    throw err;
    ^

    at Function.Module._resolveFilename (module.js:337:15)
    at Function.Module._load (module.js:287:25)
    at Module.require (module.js:366:17)
    at require (module.js:385:17)
    at Object.<anonymous> (C:\Users\Administrator\Desktop\Marsoln Licher\Lib\exampleProj\dist\app.js:3:21)
    at Module._compile (module.js:435:26)
    at Object.Module._ex

[2015-12-07 10:42] mxc opened #63 "option-manager.js:411 }); SyntaxError: Unexpected token )"
Hi all,

I am trying to compile a project which worked fine under node v4.2.2 under node v5.1.1 and I am getting the following error:

[code]

I have the following task configured:

[code]

I think this is the task causing the problem. Not sure how else to troubleshoot this.

[2015-12-09 22:22] ustims commented on #50
I've tried to install "babel-runtime" separately and it seems that only old 5.3.0 version works.

So for now it could be solved by:
[code]

[2015-12-11 06:30] achal7 commented on #50
worked for me.
i also have tried to install babel-core and babel-preset-es2015 one version earlier and that worked as well. but i think this one is better option, so just stick with latest version and replace only the runtime version to earlier.

[2015-12-15 16:44] bytenik opened #64 "Input sourcemaps seem to not be honored"
I'm running gulp-typescript before piping through gulp-babel. I init sourcemaps before piping through TypeScript. The output source map from TypeScript seems to be ignored by gulp-babel. Babel itself does support input type maps.

Am I doing something wrong or is this a bug?

[2015-12-15 16:45] bytenik commented on #64
return gulp.src(source)
        .pipe(sourcemaps.init())
        .pipe(ts({ noExternalResolve: true, target: "ES6" }))
        .pipe(babel({ presets: ["es2015"] }))
        .pipe(concat("ff-app.js"))
        .pipe(sourcemaps.write({ includeContent: false, sourceRoot: "/" }))
        .pipe(gulp.dest(paths.scriptDist));

[2015-12-15 16:57] sindresorhus commented on #64
// @Pofigizm

[2015-12-15 17:57] bytenik commented on #64
It actually does not appear that you pass inputSourceMap into babel, so this would never be able to work as written. :cry:

[2015-12-16 17:50] Pofigizm commented on #64
@bytenik,
are you use version 6.1.1 of gulp-babel?
are you get right source map of each process separately?

[2015-12-18 07:05] mitermayer opened #65 "How to disable strict mode"
How can i disable the strict mode?

[2015-12-18 11:01] sindresorhus commented on #65
Read the Babel docs. Use Stack Overflow for support questions.

[2015-12-18 11:01] #65 closed

[2015-12-23 23:54] laurelnaiad commented on #57
Something like this will get you a better error report:

[code]

[2015-12-25 02:42] Rush commented on #64
I confirm that it's broken.

[2015-12-29 08:30] louy opened #67 "Avoid changing file extension"
Currently `gulp-babel` changes all file extensions to `.js`. I don't want that. It should probably be optional as babel can output things like jsx & flow.

I was able to avoid this by removing the [two lines](https://github.com/babel/gulp-babel/blob/master/index.js#L35-L41) here. Can you make an option for this?

[2015-12-29 11:06] sindresorhus commented on #67
Why would you output JSX or Flow? You can't run that natively anywhere.

[2015-12-29 14:59] louy commented on #67
I know, but my build process consists of two steps and I want jsx to be the output of the first one. Basically to keep the build process faster.

To give you a better idea about this, I use `tsx` and `ts` on a client-server shared codebase. I use webpack to generate the client-side code while using babel to generate the server-side one. I can't use gulp for the whole process because I want hot-rel

[2015-12-30 12:37] sindresorhus commented on #67
I think that's pretty edge-casy. I'd suggest you use https://github.com/sindresorhus/gulp-revert-path instead of forcing every plugin to implement an option.

[2015-12-30 12:42] louy commented on #67
I didn't even know that it's possible for a plugin to know previous paths. That's a good solution. Thanks.

[2015-12-30 12:42] #67 closed

[2015-12-30 23:59] Pofigizm commented on #64
I can not reproduce.

https://github.com/Pofigizm/gbsm-bug

@bytenik, @Rush could you help?

[2016-01-04 03:32] JacksonGariety opened #69 "Log compilations?"
Is it possible that we could get gulp-bable to call `gutil.log()` for each file it compiles, like `babel-cli` does?

    src/a/b/c.jsx -> dist/a/b/c.js

Thank you!

[2016-01-04 11:02] sindresorhus commented on #69
Use something like `gulp-debug` for that.

[2016-01-04 11:02] #69 closed

[2016-01-12 13:22] john-cheesman commented on #17
@bf There's an example in the [docs](https://babeljs.io/docs/usage/babelrc/)

[2016-01-13 06:32] Voyga opened #71 "ReferenceError: [BABEL] Unknown option: base.preset"
Error when executing gulp babel:
[code]

My gulp babel function:
[code]

My node version is `5.4.0`

[2016-01-13 06:46] Voyga commented on #71
Solved... I it's `presets` not `preset`... Sorry

[2016-01-13 06:53] loganfsmyth commented on #71
No problem. In the future, please direct questions to Babel's support channels, listed in our main README.

[2016-01-13 06:53] #71 closed

[2016-01-13 09:12] Reinmar opened #72 "Allow passing different options to Babel for each file"
I need to process files with different Babel options due to https://phabricator.babeljs.io/T6959. Currently I will need to use https://www.npmjs.com/package/gulp-filter, which is an OK solution, but it would be much nicer if gulp-babel allowed passing different options based on `callback( vinyl )`.

[2016-01-18 01:43] PrimeLens opened #73 "Error when running from script $npm run build with local gulp"
I've put together the minimum amount of code to demonstrate this error at this repo

https://github.com/PrimeLens/gulp-babel-issue/blob/master/README.md

[2016-01-18 01:45] PrimeLens commented on #73
"scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "build": "gulp build"
  },

$npm run build

npm ERR! server@0.0.1 build: gulp build
npm ERR! Exit status 8
npm ERR!
npm ERR! Failed at the server@0.0.1 build script.
npm ERR! This is most likely a problem with the server package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR

[2016-01-18 02:58] sindresorhus commented on #73
Support => https://github.com/babel/babel#looking-for-support

[2016-01-18 02:58] #73 closed

[2016-01-18 04:32] PrimeLens commented on #73
Just want to point out that npm run <script> works fine with concat, inject and a whole host of other gulp modules. It fails with gulp-babel.

[2016-01-18 05:37] loganfsmyth commented on #73
@PrimeLens If you run that gulp script, at least for me it prints a very clear parse error for JSX. Your issue is not with gulp-babel, it is with Babel's configuration itself. gulp-babel is a simple wrapper on Babel, which is managed in an entirely separate repository with different support channels.

You are missing the `react` preset so parsing JSX will error out.

[2016-01-18 05:40] PrimeLens commented on #73
@loganfsmyth Hi Logan and thanks for responding. I've used grunt-babel with much success and its implementation was dead simple. There was no extra react preset.  I'm following the readme in gulp-babel and it does not mention a react preset either. Where is this react preset? Why is it needed and why would't it be mentioned in the readme for gulp-babel?

[2016-01-18 05:45] loganfsmyth commented on #73
@PrimeLens `gulp-babel` is a simple is a wrapper and its README is about how to use trigger Babel via Gulp, it is _not_ about how to use Babel itself. Babel has a whole website section devoted to how to set it up: http://babeljs.io/docs/setup/ and http://babeljs.io/docs/plugins/

I would expect grunt-babel to fail in the same way. As mentioned above, Babel's support channels are documented in http

[2016-01-18 06:04] PrimeLens commented on #73
@loganfsmyth I looked back at my old uses of grunt-babel and they were with babel v5.  This babel 6 is very frustrating, so far I've added   `"babel": { "plugins": ["transform-react-jsx"] }` to package.json as well as `{ "presets": ["es2015"] }` to .babelrc as well as `npm install --save-dev babel-preset-es2015`  and I'm still getting the same error. Any advice? I'm even considering looking for an

[2016-01-18 06:09] loganfsmyth commented on #73
@PrimeLens Don't split up your config, in two places. You just need `{"presets": ["es2015", "react"]}` and `npm install --save-dev babel-preset-react babel-preset-es2015`

[2016-01-18 06:25] PrimeLens commented on #73
@loganfsmyth once again thanks for sticking around and helping me through this.  Your last comment had a *massive" clue because your npm install command contained *two* modules not one like in the docs at https://babeljs.io/docs/setup/#gulp

[2016-01-18 06:32] loganfsmyth commented on #73
In this particular case, both are optional, in your case, you want two because you are using JSX, so you need to tell Babel to parse and convert React, and you generally want `es2015` because without it, Babel would just pass through ES6 code unchanged. The docs on the page you linked to for instance call out

The docs are meant as a starting point, not the be-all and end all of directions.

Thank

[2016-01-18 06:40] PrimeLens commented on #73
I've renamed the original repo so its now a working example
https://github.com/PrimeLens/working-example-gulp-babel-with-babel6-JSX

Thanks Logan!

[2016-01-23 17:13] cmichaelgraham opened #75 "babel5 --> babel6: handling `modules`"
this is how i used to specify the module: https://github.com/aurelia/metadata/blob/master/build/tasks/build.js#L48

[code]

babel6 gives me the error: `Unknow option: base.modules`

appreciate any guidance !! :smile:

[2016-01-23 17:26] sindresorhus commented on #75
Use the official support channels: https://github.com/babel/babel#looking-for-support

[2016-01-23 17:26] #75 closed

[2016-01-23 17:35] cmichaelgraham commented on #75
thanks :smile:

[2016-01-30 13:46] bytenik commented on #64
I just revisited this. Its true that your virtually identical gulpfile does not have the issue, whereas mine does. But the build task is line-for-line identical. I can confirm, however, that commenting out the `pipe(babel(...))` line produces a sourcemap for me with the proper sources. I'm on 6.1.1. My dev deps match yours:

[code]

[2016-02-02 10:05] Pofigizm commented on #64
One diff which I found in deps is `gulp-sourcemap`, but when I change it to the same I won't reproduce the issue.
Also I can't find babel in yours dev list. Is you have the same version?

Can you extract a part of your project where the issue is reproduced? And push it?

_p.s. Magic does not exist!_

[2016-02-02 19:31] nathanjd commented on #72
@Reinmar Have you tried using multiple ```.babelrc``` files? It may require a restructuring of your repo, but I've found this method to be a decent, albeit awkward, way of using multiple babel options in the same repo.

For example, you have two folders, ```foo/``` and ```bar/```. By adding the following ```.babelrc``` files to these folders, you'll effectively get multiple sets of options for dif

[2016-02-03 15:07] Reinmar commented on #72
Thanks for the idea, but that's not going to work and I wouldn't want to do it anyway :).

I'm working on a big, modular, open source system which will be developed by thousands developers. I need to keep things simple and tight. E.g. I've got no idea where the files will come from, where they are going to end up, how are they going to be renamed, etc. Plus, I think that the logic is too complicat

[2016-02-03 17:50] octref commented on #16
The method originally posted by @sindresorhus doesn't work if you are watching for recompilation. After a compilation error the watch will not keep recompiling even if you fixed your code.

`gulp-plumber` solves the problem for me:

[code]

[2016-02-04 01:18] RIAEvangelist commented on #45
@sindresorhus  Would be awesome to reference the other issue so people would know where to look.

[2016-02-09 00:22] khalilravanna opened #78 "Update gulp to 6.3.5"
Not sure if there's a specific reason for gulp being a couple minor versions behind but the performance improvements of 6.3.5 would be awesome to have.

[2016-02-09 01:44] sindresorhus commented on #78
https://nodesource.com/blog/semver-tilde-and-caret

[2016-02-09 01:44] #78 closed

[2016-02-10 03:29] dnldavidson commented on #52
Still won't work for even after following trevoro's advice.

[2016-02-18 08:50] azizhk commented on #52
Getting this error even though I have `babel-preset-es2015` installed.

[2016-02-19 19:58] DominicBoettger opened #79 "Error message with direct.presets"
The code is compiling but it get these errors:

20:56:33] Plumber found unhandled error:
 ReferenceError in plugin 'gulp-babel'
Message:
    [BABEL] /src/app/alert/alert.tpl.js: Unknown option: direct.presets
[20:56:33] Finished 'sass' after 3.91 s

My gulp config:

[code]

[2016-02-20 00:57] allyrippley commented on #52
I was able to solve this by running `npm i core-js --save`, not sure if you can get away with just using it as a dev dependency. hope this saves someone some time

[2016-02-29 14:30] gajus opened #80 "Implement cache"
A simple cache using LRU strategy (e.g. https://www.npmjs.com/package/lru-cache).

[2016-02-29 14:39] gajus commented on #80
https://github.com/babel/gulp-babel/pull/81

[2016-03-01 10:42] dslpp056193 opened #82 "Babel cut my brackets"
What i use:
[code]
What i compile:
[code]
**What i get:**
[code]
**What i need:**
[code]

Where is my brackets?
I searched error half at hour. And very surprised.
Maybe something i do wrong?

Init babel:
[code]

**P.S.:** if try this on babel website (inside "try it out") this error not observed

[2016-03-01 10:52] sindresorhus commented on #82
https://github.com/babel/babel#looking-for-support

[2016-03-01 10:52] #82 closed

[2016-03-04 04:13] morganpackard commented on #80
I've been wondering about caching in gulp-babel myself. Is the fancy cache and the hash stuff really necessary? My much more naive cache I just whipped up seems to work great

			// var cache = {}  defined at the top of the file

			var contents = file.contents.toString();

			cache[file.path] = cache[file.path] || {
				lastUncompiled: "",
				lastCompiled: ""
			}

			if(cache[file.path].lastUnc

[2016-03-04 11:37] gajus commented on #80
Your solution is effectively leaking memory.

[2016-03-04 11:39] gajus commented on #80
ps I have released gulp-babel2 to test LRU. Using it until something about cache is done in gulb-babel. It saves a lot of time on large project (difference between 7 seconds and few ms)

[2016-03-04 14:27] morganpackard commented on #80
@gajus where is this gulp-babel2 located? Github link?

- My naive solution has an unlimited cache size, but it only grows as long as you pass new files. The cache will be roughly twice as big as the project source code.

- What's the benefit of using the sha1 hash for comparison, rather than just storing the complete file and comparing that? Presumably hashing is going to slow the algorithm. Sure

[2016-03-04 15:48] gajus commented on #80
https://github.com/gajus/gulp-babel

With codebases as large as thousands of files, memory footprint is a very big issue.

[2016-03-04 15:56] morganpackard commented on #80
OK! Thanks for your responses. I hope an official caching gulp-babel gets
released soon.

On Fri, Mar 4, 2016 at 10:48 AM, Gajus Kuizinas <notifications@github.com>
wrote:

--
===============
Morgan Packard
web: www.morganpackard.com
twitter: @morganpackard
phone: (720) 891-0122

[2016-03-05 01:42] loganfsmyth commented on #80
I'm curious, how does this compare to using something like `gulp-cached` to simply skip passing the file through to `gulp-babel` at all? It's not immediately obvious to me what integrating this into the plugin provides that couldn't be accomplished with composable gulp tasks rather than building it into the plugin.

[2016-03-05 15:41] morganpackard commented on #80
Based on my reading of gulp-cached, it will not pass a file downstream if it's cached. Useful for linting or other validation, but not so useful for my build system, where I transpile and then concatenate all files in to one big one. To use a separate gulp plugin to cache babel results you'd need something that can still deliver the cached results downstream. Maybe a twopart usage pattern similar

[2016-03-05 17:28] morganpackard commented on #80
Looks like [gulp-remember](https://github.com/ahaurw01/gulp-remember) paired with [gulp-cached](https://github.com/contra/gulp-cached) may do more or less what I described above.

[2016-03-15 00:40] asvetliakov commented on #64
Just encountered problem, but:
styles.ts is producing ```"sources":["app/styles.js","app/styles.ts"],```
Root.**tsx** is producing ```"sources":["app/Root.js"],```
Hope that helps

[2016-03-15 06:42] Pofigizm commented on #64
@asvetliakov, I can't reproduce it, too.
Could you extract the minimal part of your project where your problem is reproduced?
Could you make separate repo with it or change my https://github.com/Pofigizm/gbsm-bug?

[2016-03-20 15:22] rbiggs opened #84 "Presever source directory structure"
Is there any way to have gulp-babel preserve the directory structure of output?
I'm using:
[code]
But that flattens the folder structure and outputs all files to `dist`. I'd like to have the output preserve the source folder structure so that `dist` had `modules` and `widgets` as sub folders. Is this possible?

[2016-03-20 15:31] sindresorhus commented on #84
Support questions are better asked on Stack Overflow: http://stackoverflow.com/questions/tagged/gulp

This is not relevant to this plugin, but rather a generic gulp question. `gulp.src` is what decides how the files are structured.

[2016-03-20 15:31] #84 closed

[2016-04-01 21:04] michaelBenin commented on #79
@DominicBoettger this can be caused by a few things:

- Check to see if you are on the latest gulp-babel
- Make sure all the transforms / plugins you are using are installed
- Check in your home directory for a .babelrc or a .babel.json
- Check your globally installed version of babel
- Run a find . '.babelrc' to see if there's any other configs around from babel 5

I ran into the same issue today

[2016-04-01 21:15] michaelBenin commented on #80
I've achieved this with gulp-changed.

[2016-04-01 21:16] michaelBenin commented on #79
Related: https://github.com/babel/babel-loader/issues/132

[2016-04-02 19:56] azat-io opened #85 "Gulp-Babel not works with imports"
Hi there!

I have a trouble about working with gulp-babel. It looks strange, `import` not works there:

Part of my **package.json**:
[code]

Js task of my **gulpfile.js:**
[code]

**.babelrc:**
[code]

So. It must works with imports. For example it's my main Js file:

**src/js/App.js:**
[code]

This file should import `react` from `node_modules/react/` and import `Main.js`.

**src/js/Main.js:**
[c

[2016-04-02 20:22] loganfsmyth commented on #85
[code]

You import the component with the name `App` but then use `<Main />` instead of `<App />`, that see like the main issue.

[2016-04-02 20:29] azat-io commented on #85
@loganfsmyth My bad. Update issue. :smiley:

[2016-04-02 20:38] sindresorhus commented on #85
Please use the dedicated support channels for support questions: https://github.com/babel/babel#looking-for-support

[2016-04-02 20:38] #85 closed

[2016-04-03 22:42] PokemonAshLovesMyTurkeyAndILikeYouTwo opened #86 "cannot install"
[code]

hmm, and hten it hangs, any idea?

[2016-04-03 22:44] #86 closed

[2016-04-10 09:15] cvibhagool commented on #79
I'm having the same issue here.

- I'm on the latest gulp-babel using npm install
- all my plugins are installed
- no .babelrc or .babel.json anywhere
- no globally installed babel
- I only found bookshelf.js within node_modules using .babelrc

I also tried doing `presets: []`, and I got the same error.
@DominicBoettger Anywhere else I should look? Cheers

[2016-04-10 17:29] loganfsmyth commented on #79
If you're still having issues, I'd recommend dropping by our support channel on Slack: https://github.com/babel/babel#looking-for-support

[2016-04-11 02:32] michaelBenin commented on #79
@cvibhagool what version do you have installed?

[2016-04-12 15:38] GuoYongfeng opened #87 "下载提示安装left-pad出错"

[2016-04-12 15:43] hzoo commented on #87
Thanks for reporting! left-pad shouldn't be an issue anymore (I would update to the latest babel (either 5 or 6).

If you have an an actual bug/suggestion for babel itself - free feel to make an issue on our [phabricator](https://phabricator.babeljs.io/). If you just have an usage issue or want help, I would recommend checking out our [slack community](https://slack.babeljs.io/) or [StackOverflow]

[2016-04-12 15:43] #87 closed

[2016-04-13 12:32] GuoYongfeng commented on #87
好的，非常感谢，问题已经解决，是由于我们公司的npm镜像问题导致的，多谢回复。

[2016-04-28 22:14] adamplabarge opened #88 "babel-plugin-transform-strict-mode not working?"
I'm trying to remove the 'use strict'; that is added to the top of the javascript file that babel creates.  Either my /build/ or the .min.js.

I'm trying to remove it, can't figure out how. I have tried installing gulp plugins that say they remove 'use strict' but do not. I have tried adding the babel-plugin-transform-strict-mode plugin, and setting or adding to the babelrc config https://babeljs.

[2016-04-29 05:56] sindresorhus commented on #88
Use the proper support channels: https://github.com/babel/babel#looking-for-support :)

[2016-04-29 05:56] #88 closed

[2016-05-02 21:32] erikvold commented on #50
I have the same issue:

I was using node version 5.11.0 and npm version 3.8.6 installed via homebrew for osx 10.11.4  which was working fine! then committed my changes, and noticed this error in circle-ci:

    Error: Cannot find module 'babel-runtime/regenerator'

circle-ci was using nvm 4.0 so I tried the same with nvm and got the same error, then I tried nvm use 5.11.0 and nvm use stable, and g

[2016-05-02 21:42] loganfsmyth commented on #50
If you are using `transform-runtime`, you need to have `babel-runtime@6` in your `dependencies`.

[2016-05-03 01:38] erikvold commented on #50
babel-runtime is a dependency of babel-plugin-transform-runtime so I'm not sure why I would need to add it again..

Also not sure why that would not be mentioned at https://www.npmjs.com/package/babel-plugin-transform-runtime ..

[2016-05-03 02:18] erikvold commented on #50
hmm weird I tried with nvm 5.11.0 again and that worked, I might've forgotten to wipe the `node_modules` folder after trying `nvm 4.0` last time.  Everytime I wipe the node_modules folder and nvm use 4.0 I get the error above however.

[2016-05-03 06:27] mort3za opened #89 "StringMap expected string key"
When I use es6 parameters, Babel can't transpile it to ES5. The error is `StringMap expected string key`. Just added `transform-es2015-parameters` to plugins after running `npm install babel-plugin-transform-es2015-parameters` but there is no difference.

JS code:
[code]

This is my gulp pipes:

[code]
Can anyone help me?

[2016-05-03 08:07] sindresorhus commented on #89
Use the proper support channels: https://github.com/babel/babel#looking-for-support :)

[2016-05-03 08:07] #89 closed

[2016-05-16 13:57] ValeryIvanov opened #90 "Invalid System.register call. Anonymous System.register calls can only be made by modules loaded by SystemJS.import and not via script tags."
If I transpile with gulp-babel then I get error above.

If I transpile with babel-cli then its ok.

This is how it differs

This is transpiled with gulp-babel, this second System.register is causing this error.

	'use strict';

	System.register([], function (_export2, _context2) {
		return {
			setters: [],
			execute: function () {
				System.register(['jquery'], function (_export, _context) {

[2016-05-16 14:03] loganfsmyth commented on #90
Sounds like you've enabled the systemjs transform more than once. Do you happen to have it both in a. .babelrc and in your gulp task? If so, that would be why.

[2016-05-16 14:10] ValeryIvanov commented on #90
This is my gulp task

	var babel = require('gulp-babel');
	gulp.task('build:js', function() {
		return gulp.src(['lib/**/*.js', '!lib/templates.js'])
			.pipe(plumber())
			.pipe(changed(buildDirPath + '/js'))
			.pipe(sourcemaps.init())
			.pipe(babel())
			.pipe(sourcemaps.write('.'))
			.pipe(gulp.dest(buildDirPath + '/js'));
	});

this is my babelrc

	{
	  "presets": ["es2015", "stage-0", "rea

[2016-05-16 14:19] ValeryIvanov commented on #90
Okay you were right, thanks for your help!

I was using jspm 0.17beta version with 'plugin-babel'. I removed 'transform-es2015-modules-systemjs' plugin and it worked.

[2016-05-16 14:19] #90 closed

[2016-05-22 20:27] ORESoftware commented on #50
putting transform-runtime as a plugin in my .babelrc worked for me

[code]

[2016-05-27 21:58] jdoubleu commented on #16
Okay, a bit too late but I fixed it very simple.

My goal was to get the same environment with gulp-babel as gulp-sass has.

It's a mixing of some answer and you don't need any other module (like `gulp-plumber`):
[code]
This will show up an big, red error in the console if your es6 is incorrect but will not break the gulp task.

[2016-06-03 09:00] amok commented on #50
I've deleted node_modules, did `npm i` and then got following error

[code]

It's fixed by `rm -rf node_modules; npm i` again
Looks like it's npm issue..

[code]

[2016-06-06 17:17] tobiasmuecksch opened #91 "Error: Cannot find module 'babel'"
My gulpfile.js
[code]

When I start this task the following error is returned:
`Error: Cannot find module 'babel'`

Then I tried:
`npm install babel`

But then when I start the task this error is returned:
`Error: The node API for `babel` has been moved to 'babel-core'.`

This is my package.json:

[code]

Did I do something wrong or is there an issue?

[2016-06-06 17:36] tobiasmuecksch commented on #91
Sorry, it was my fault.

[2016-06-06 17:36] #91 closed

[2016-06-16 14:02] mayantigo opened #92 "'class' instead 'className'"
Hello!.
[code]

And in gulpfile.json the follow:

[code]

In my index.jsx I have:

[code]

After use gulp-babel give me that code:

[code]

Generated html is:

`<ul data-reactroot=""><li>Element</li></ul>`

No classes in html code. Thing is if I change manually 'class' attribute for 'className', html code render 'class' attrbute correctly.

Im doing something wrong?. Do you know is if version conf

[2016-06-16 14:05] mayantigo commented on #92
I tried with:

[code]

And still same issue.

[2016-06-16 15:49] loganfsmyth commented on #92
This is expected behavior, JSX does not always correspond directly with HTML. To get a `class` attribute, you'd use `className`, and to get a `for` attribute, you'd use `htmlFor`.

This behavior is documented on https://facebook.github.io/react/docs/jsx-in-depth.html.

[2016-06-16 16:01] mayantigo commented on #92
Right, I missunderstood documentation. So stupid!
My apologize. Now works correctly.
Thanks for support!.

Kind regards.

[2016-06-16 16:01] #92 closed

[2016-06-16 16:16] loganfsmyth commented on #92
No problem.

[2016-06-29 17:30] albertbuchard commented on #50
I had the same error.

In my project folder, I had to :
`
$ npm uninstall babel-preset-es2015
$ sudo npm uninstall -g babel-cli
`

Then redownload/install latest version of node/npm, then :
`
$ sudo npm install -g babel-cli
$ npm install babel-preset-es2015
`

My .babelrc :
`
{"presets": ["es2015"]}
`

[2016-07-23 16:49] littledu opened #93 "Couldn't find preset "es2015" relative to directory"
I use gulp-babel in electron，I have all the dependencies installed.
the code is :

[code]

When I was developing, everything was all right.
Bug When I packed electron app and run , it throw:

[code]

I don't know whose fault it is. Can you help me? Thanks.

[2016-07-27 08:25] rbatllet commented on #93
have you installed these presets via npm?

[code]

[2016-07-27 10:33] littledu commented on #93
@rbatllet yes, I have installed .

[2016-07-27 21:41] jmm commented on #93
Hello @littledu, you may want to just resolve the preset location yourself in your build script, example:

[code]

In any case, this isn't actually an issue with gulp-babel, which is just a wrapper. The best places for you to get further help with this are listed in [Babel's README](https://github.com/babel/babel#looking-for-support).

[2016-08-09 15:28] xthilakx commented on #16
@jdoubleu Thanks.. it worked great. Although I had to do a bit of head scratching because I was using an arrow function, and `this` doesn't point to right execution context, if you are using arrow functions.

[2016-08-18 13:23] chiel opened #94 "gulp-babel + nyc gives wrong paths in coverage reports"
Hi, I've also made an issue over at https://github.com/istanbuljs/nyc/issues/359, but this is starting to look more like a `gulp-babel` issue than an nyc issue.

I would really appreciate if someone here could have a look!

[2016-08-25 08:26] joSFD opened #95 "Unexpected character '?'"
Hi there !

I get this message :  Unexpected character '?' (22:1) on a directive which doesn't seem to have any problem (line 22 being the last line of the file) :

[code]

Any idea ?
Thank you !

Johan

[2016-08-28 05:04] julesmoretti commented on #52
Still not working...

trie the `npm i core-js --save`... nothing.

[code]

[code]

I have a file in the app/js/components called `helloworld.js` that looks like the one bellow and it hangs on the const declarations...

[code]

[code]

[code]

Would love some final help with this.

[2016-09-01 15:36] navarroaxel opened #96 "Babili preset is not working"
I have been used gulp-babel with this config:

[code]
and works fine. But, I have tried to use [babili](http://babeljs.io/blog/2016/08/30/babili)

[code]

With this change in the config:

[code]

and, I'm getting this error:

[code]

What I'm doing wrong? I develop for Chrome, and I want the final code with arrow functions and string templates minified.

[2016-09-01 15:48] hzoo commented on #96
Can you update your babel packages? it needs a later version of babel-core

[2016-09-01 16:25] navarroaxel commented on #96
These are the babel's packages what I use:
[code]
I was using babel-core@6.13 I had manually update to version 6.14 and now works.
Thanks!

[2016-09-01 16:30] hzoo commented on #96
We'd like to add an error to use 6.14 but I don't think we figured out how to do it correctly yet (I don't think a peerDep works either)\

awesome

[2016-09-01 16:30] #96 closed

[2016-09-07 01:29] arixse opened #97 "how to disable the strict mode?"
how to disable the strict mode?

[2016-09-07 02:12] loganfsmyth commented on #97
@arixse The recommended approach would be to change your presets, e.g.

    presets: [
        'es2015'
    ]

to be

    presets: [
        ['es2015', {modules: false}]
    ]

note the new set of square brackets in there.

Babel code adds `use strict` automatically because `es2015` by default expects code to be ES6 modules, which are strict by default.

[2016-09-15 11:31] GeorgeGkas opened #98 "Use gulp-babel to transpile react project"
I want to transpile a react project. How to do it in gulp-babel? Do I have to use another module? I use es2015 and stage-0 presets. I saw in the examples how to convert es6 js files but what about react?

[2016-09-23 11:54] panuhorsmalahti commented on #93
The correct example would be to use the npm package names, e.g.:
[code]

[2016-09-25 02:49] littledu commented on #93
Thanks @panuhorsmalahti , I will try it next time.

[2016-09-25 02:49] #93 closed

[2016-10-13 23:20] cryoguy commented on #97
I am always getting following error.  Does it mean that it is still in strict mode?

Plumber found unhandled error:
 SyntaxError in plugin 'gulp-babel'
Message:
    /../app/scripts/prettyphoto/js/jquery.prettyPhoto.js: Deleting local variable in strict mode (7:21327):

my gulpjs setting:

gulp.task('scripts', () => {
  return gulp.src('app/scripts/**/*.js')
    .pipe($.plumber())
    .pipe($.sourc

[2016-10-14 00:36] ijabit opened #99 "gulp-babel Sourcemaps not working with TypeScript 2.0 via gulp-typescript"
When I use gulp-typescript to compile to ES6, then use Gulp-Babel after that (to go to ES5), it doesn't correctly apply the TypeScript sourcemap if the file is in a subdirectory. For example:
./src/tsfile1.ts <-- sourcemaps work great, through both gulp-typescript and gulp-babel
./src/subdir/tsfile2.ts <-- sourcemaps from gulp-typescript are broken, only the babel sourcemap gets applied

If found

[2016-10-16 04:43] jamiechoi opened #100 "Async function not working even with latest preset installed"

[2016-10-16 04:44] #100 closed

[2016-10-18 10:12] yangbiaoit commented on #50
npm install babel-runtime

[2016-10-19 15:21] dominik0711 commented on #52
Hi. I'm not able to transpile my es6 code to es5 due to the following error:

`Couldn't find preset "es2015" relative to directory`

This is my environment:
OS: OS X
CLI version 1.2.2
Local version 4.0.0-alpha.2

package.json (partial):
[code]

I have the following project structure:
|-!deploy
|-build
|---components
|---helpers
|---node_modules
|---tasks
|-src
|---assets
|---components
|---js
|---

[2016-10-19 15:23] dominik0711 opened #101 "Transpile error: Couldn't find preset"
Hi. I'm not able to transpile my **es6** code to **es5** due to the following error:

`Couldn't find preset "es2015" relative to directory`
## This is my environment:

OS: OS X
CLI version 1.2.2
Local version 4.0.0-alpha.2
## package.json (partial):

[code]
## I have the following project structure:

|-!deploy
|-build
|---components
|---helpers
|---node_modules
|---tasks
|-src
|---assets
|---compo

[2016-10-19 15:53] dominik0711 commented on #93
@panuhorsmalahti
I try to transpile from es6 to es5 with gulpv4 and CLIv1.2.2. My gulpfile-task is the following:
[code]
I did receive the following error:
[code]
Do you have any idea how to solve this issue?

Thanks in advance

[2016-10-19 17:54] rbatllet commented on #93
Try this:

[code]

[2016-10-20 06:18] dominik0711 commented on #93
@rbatllet Your suggestion was my first implementation with the same error output! This was the reason why I have found this thread. I have in mind that with gulp version < 4.0.0 this wasn't a problem at all. But I'm not pretty sure.
But why does **gulp-babel** takes `${global.config.source}`, which in real is **/Users/tester/Projects/TestProject/src** , as the base/search path for the **es2015** p

[2016-10-20 15:44] ijabit commented on #99
Bump

[2016-10-20 18:05] julesmoretti commented on #52
@dominik0711 not sure if this will help. But it might be one of 2 things (emphasis on the might)...

1. You might need these also installed using npm:
    "babel-core": "^6.14.0",
    "babel-loader": "^6.2.5",

2. You might need a .babelrc file in the root directory that looks like this:

[code]

In your case it would probably just look like this:

[code]

[2016-10-23 00:57] ijabit commented on #99
There was a fix for gulp-typescript, but I still think that gulp-babel should handle backslashes correctly when generating source maps.
Thanks

[2016-10-23 17:32] Sarke commented on #50
@loganfsmyth and @yangbiaoit why is that necessary though?  If we have `babel-core` installed, which depends on `babel-runtime`, shouldn't that take care of it?

[2016-10-23 18:42] loganfsmyth commented on #50
@Sarke Code that is compiled with `transform-runtime` enabled needs to depend on `babel-runtime` because `transform-runtime` injects references to that module. `babel-core` depends on `babel-runtime` because we compile `babel-core` with `transform-runtime`, but that is unrelated user-compiled code.

[2016-10-23 18:46] loganfsmyth commented on #50
Because `npm@3` flattens dependencies, installing `babel-core` can have the side-effect of installing `babel-runtime` into your root `node_modules`, but your code `package.json` should still include it since you npm3's flattening is for deduplication purposes, not dependency purposes. For instance, because `babel-core` is commonly in `devDependencies`, you'll lose the `babel-runtime` side-effect i

[2016-10-23 21:13] moxx commented on #16
Just for google searcher:

the ES6 lambda syntax `(err) => {}` dose not work because lambda has no `this` scope, so instead use closure.

A fine solution with maximum Error Output will be:
[code]

[2016-10-25 18:16] Sarke commented on #50
That makes sense, thank you.

⁣​

On Oct 23, 2016, 11:46, at 11:46, Logan Smyth <notifications@github.com> wrote:

[2016-10-25 18:23] hzoo commented on #50
You need `babel-runtime` as part of your dependencies since it will be used in the user built code like logan mentioned.

[2016-10-25 18:23] #50 closed

[2016-11-02 18:34] wesww commented on #101
In my build I have to use the full `babel-preset-es2015`. However, I'm using gulp so I don't really know if this is relevant to you. Worth a try though.
[code]

[2016-11-08 02:00] chenghaohao opened #102 "gulp using .pipe(babel({presets: [es2015]})) is very slow, one word change takes me 10S. why & how to solve？"

[2016-11-08 05:05] loganfsmyth commented on #102
We're going to need more information about your setup.

* Are you on a recent node version?
* Are you on npm v3?
* How many files are you passing to Babel? What is the glob pattern you are using?
* How are you watching for changes? Do you use caching? If you recompile every file any time any file changes, it will be slow.

Give us your whole task.

[2016-11-14 07:09] gucong3000 commented on #101
@dominik0711 , Can you help me do a test ?

[code]
run this command, then try your case.

[2016-11-14 07:15] loganfsmyth commented on #101
You should be able to change that to

[code]

We expect the presets to be relative to the file being processed, if they are not, you cannot use the string-based preset lookup.

[2016-11-25 02:19] chenghaohao commented on #102
gulp.task('scripts:app', function() {
    log('Building scripts..');
    // Minify and copy all JavaScript (except vendor scripts)
    return gulp.src(source.scripts)
        .pipe($.jsvalidate())
        .on('error', handleError)
        .pipe( $.if( useSourceMaps, $.sourcemaps.init() ))
        .pipe(babel({presets: [es2015]}))
        .pipe($.concat( 'app.js' ))
        .pipe($.ngAnnotate())

[2016-11-25 19:34] loganfsmyth commented on #102
You didn't answer my other questions. Please do. You also probably want to use https://www.npmjs.com/package/gulp-watch since presumable you rerun `scripts:app` fully at the moment, which means you process every file whenever _any_ file changes.

[2016-11-26 17:10] dtturcotte opened #103 "Angular Error Module is not available - gulp babel"
More on this issue [here](http://stackoverflow.com/questions/40820333/angular-error-module-is-not-available-gulp-babel):

I am getting the following error in my Angular app after adding gulp babel to my gulp file. I need this to transpile and minify my ES6.

**Prior to adding `babel` through the gulp piping, the app runs fine without error.**

<img width="578" alt="screen shot 2016-11-26 at 12 06

[2016-11-29 13:33] rasenplanscher commented on #98
That's easy, have a look here: https://babeljs.io/docs/plugins/preset-react/

Just install the package `babel-preset-react`, and add `{ presets: ['react'] }` to your babel config

[2016-11-29 13:40] rasenplanscher commented on #72
I think, filtering at the gulp level is actually quite appropriate, as opposed to filtering at the plugin level. What you suggest would make this plugin more complicated and be insular, while `gulp-filter` is universally applicable.

If your gripe comes from `gulp-filter`'s verbosity, have a look at https://www.npmjs.com/package/gulp-if. I use that and https://www.npmjs.com/package/gulp-ignore ins

[2016-11-29 17:03] Reinmar commented on #72
Yeah, I should've thought twice before opening a ticket like "please add new config option" :D. You're totally right, if there's more general way to implement it, it's better to avoid adding more options.

If anyone's interested, this is how we're doing it right now: https://github.com/ckeditor/ckeditor5-dev-compiler/blob/782da8d193b3c93c888ab7a969a33c2b76f8310d/lib/utils.js#L568-L616.

[2016-11-29 17:03] #72 closed

[2017-01-02 18:42] hajjiTarik opened #104 "React Dom"
Hello,
First of all Sorry for my bad english, i just want to say that maybe is just a forgotten or this is done on purpose, i don't found React-Dom ?

[2017-02-16 17:06] stevenwright1243 opened #106 "Option 'ignore' isn't working"
[code]

The scripts.js file continues to get run through the babel task...

I also tried this
`ignore: ['development/js/**/**.js']`
but everything was still being ran through babel...

Is there something I'm doing wrong? Can't find guidance on this anywhere so I made an issue.

Relevant package versions
"babel-preset-latest": "^6.22.0"
"gulp": "^3.9.1"
"gulp-babel": "^6.1.2"

Node version 7.4.0

W

[2017-02-16 17:26] stevenwright1243 commented on #106
If it helps anyone, I ended up using the 'only' option and getting the difference of both arrays to effectively accomplish what 'ignore' does.

[code]

[2017-02-21 03:52] achmadk opened #107 "gulp error received after upgrade babel-preset-react to 6.23.0"
I have upgraded babel-preset-react dependency to version 6.23.0. When I run `gulp` in my project with upgraded version of babel-preset-react, I got error like this
[code]
This error is gone when I downgrade babel-preset-react version to 6.22.0.

[2017-02-21 05:39] loganfsmyth commented on #107
What version of `gulp-babel` are you using?

[2017-02-21 06:25] achmadk commented on #107
I'am using `gulp-babel` version 6.1.2, Mr. @loganfsmyth .

[2017-02-21 06:28] loganfsmyth commented on #107
Can you check the `version` value in `[MY_PROJECT_DIRECTORY]\node_modules\gulp-babel\node_modules\babel-core\package.json`? That error could happen on older versions of `babel-core` but I was under the impression that this had been fixed long ago.

[2017-02-21 06:33] achmadk commented on #107
Yes, I can, Mr. @loganfsmyth . The `babel-core` version inside `gulp-babel` module is version 6.7.4.

[2017-02-21 07:30] loganfsmyth commented on #107
That is an extremely old version of `babel-core`. I'm not sure why you'd have an old version. I'd recommend clearing and reinstalling your deps, and potentially looking at your package.json to make sure you haven't somehow locked it to an old version. `gulp-babel` is set with a very generic `>=6.0.2` so it will install the most recent version of 6.x possible.

[2017-02-21 11:57] darrenahunter commented on #103
having a  similar issue
using uglify after babel with an angular 1 app causes Angular to have error - undefined etc..
remove the uglify pipe and the app with run (still piping through babel)

[2017-02-24 10:53] thany opened #108 "Sourcemaps not mapping all the way back to originals"
I'm using `gulp-babel` with the `babili` plugin, and the `gulp-requirejs-optimize` module to concat files.

Here's the relevant part of how I'm calling it:
[code]
So `main.js` is the entry point for my sources, which uses requirejs to include all the other files. Works great. But the problem is, the resulting sourcemaps only includes the entry point, not any of the other files.

This might look li

[2017-02-28 00:24] parkroolucas commented on #108
I'm getting the same issue. It tells me that there is an `undefined index on line 237`, but I check line 237 and it is an empty line. Removing `gulp-babel` fixes this issue.

[2017-03-04 08:42] YoavRheims opened #109 "SyntaxError: C:/Users/__/myapp/myapp/gulpfile.babel.js: "gulp" is read-only"
Hi,

I just understand how to fix this issue:
`C:\Users\Yoav\myapp\myapp>gulp critcal
[10:39:41] Requiring external module babel-register
C:\Users\Yoav\myapp\myapp\node_modules\babel-core\lib\transformation\file\index.js:600
      throw err;
      ^

SyntaxError: C:/Users/Yoav/myapp/myapp/gulpfile.babel.js: "gulp" is read-only
  1 |
 2 | var gulp = require('gulp');
    |     ^
  3 | var gutil = re

[2017-03-04 08:43] YoavRheims commented on #109
I tried to clean npm cache, uninstall and reinstall. Nothing helped.

[2017-03-07 20:11] loganfsmyth commented on #109
I think we'd have to see your `gulpfile.babel.js` to know what is wrong. It sounds like you're assigning to your `gulp` variable, but since it is a `var` in the output that is a little confusing.

[2017-03-08 05:03] YoavRheims commented on #109
I followed these steps: https://github.com/addyosmani/critical
Dunno what I didn't do right.

[2017-03-08 06:06] loganfsmyth commented on #109
As I said, we'll need to see your gulpfile.

[2017-03-12 00:56] #104 closed

[2017-03-13 02:27] thany commented on #108
@parkroolucas When you say "fixes this issue", do you mean the whole issue is resolved by doing that, or do you mean the sourcemaps start working again but without minification?

[2017-03-13 02:57] parkroolucas commented on #108
@thany My gulpfile compiles ES6 code into browser-recognisable JavaScript, and aso minifies it. If I remove `gulp-babel` and write ES5 JavaScript instead of ES6, the sourcemapping works correctly, giving me the right line numbers; in other words, there is an issue with sourcemapping in `gulp-babel`, causing the referenced line numbers to mess up in error messages and whatnot.

[2017-03-13 09:06] thany commented on #108
Ok, then your situation is different from mine. I'm using *only* the babili plugin. So I'm not converting to ES5. I write ES6, and support only modern browsers.

So I can't just do away with gulp-babel...

[2017-03-14 01:22] yanickrochon opened #111 "Uncaught ReferenceError: require is not defined"
How come no loader is provided with transpiled code?

[2017-03-14 01:27] loganfsmyth commented on #111
The assumption is that you've use Babel alongside Webpack, Browserify, or Rollup.

[2017-03-14 01:27] #111 closed

[2017-03-19 21:34] trusktr commented on #101
This happens to me with just a plain .babelrc and using the `babel` command, but only when using `npm` v2, not `npm` v4 (haven't tried `npm` v3).

[2017-03-19 21:37] trusktr commented on #101
Is the an issues somewhere relating to failures due to differences in npm versions? Haven't found one yet.

[2017-03-31 19:06] brysonthor commented on #52
roasting my local node_modules folder and doing a fresh npm install fixed it for me.

[2017-03-31 23:00] dmurat commented on #64
I've just stumbled on this problem of invalid source maps. In general, I'm experiencing the same issues as other reporters do.

I've tried to use gulp-babel on pretty complex Angular/TypeScript projects (15 of them in total) with very similar manifestations. In my case, sourcemaps are generated for each TypeScript file individually.

In some cases sourcemaps were produced with two entries in sourc

[2017-04-13 22:39] harellevy commented on #103
did you manage to fix this issue? i'm having problem using gulp on angular app, with babel and uglify

[2017-04-18 16:48] harellevy commented on #103
finally i did this.

.pipe(useref())
      .pipe(gulpif('*.js', ngAnnotate()))
      .pipe(gulpif('*.js',babel({
          compact: false,
          presets: [['es2015', {modules: false}]]
      })))
      .pipe(gulpif('*.js', uglify({ compress: false }).on('error', function(err) {
          gutil.log(gutil.colors.red('[Error]'), err.toString());
          this.emit('end');
      })))
.pipe(gulp.d

[2017-04-27 16:11] AlexShafir opened #115 "Arrays in "plugins" not taken into account"
[code]

Here plugin will not be executed, however, if I write `"plugins": [ "babel-plugin-root-import" ]` it works as expected

[2017-05-01 12:29] saketh-bobby opened #116 "Option for asking babel to not clean destination directory"
Correct me if I'm wrong ! I'm using babel and nodemon in my workflow such that gulp-babel watches src directory and whenever file changes it transpiles to dest directory and nodemon watches the dest directory for restarting the server.

The problem is babel is correctly transpiling the target file but nodemon is restarting cuz of change for  n number of times where n is number of files in dest dir

[2017-05-01 20:33] loganfsmyth commented on #116
This isn't really the responsibility of gulp-babel. You could use so.ething like gulp-cached to only process files that change for instance.

[2017-05-02 00:45] saketh-bobby commented on #116
Oh thanks it'll work !

[2017-05-02 00:45] #116 closed

[2017-05-04 09:40] jy95 commented on #27
@MikeMcElroy I tested your solution and it just doesn't work (the generated file is full of error). The solution provided by @agzam works great

[2017-05-24 08:04] matfin opened #117 "Uncaught ReferenceError: require is not defined"
Hi,

I am experimenting with ES7 generators in my project. I followed these instructions [https://www.npmjs.com/package/gulp-babel#runtime](https://www.npmjs.com/package/gulp-babel#runtime) to install the required gulp-babel plugin.

I am seeing an error in my console as follows when I reload the page:
[code]

Inside `main.js:3` there is the line:
[code]

The task within my `gulpfile.js` looks lik

[2017-05-24 13:03] marcelaraujo commented on #103
@harellevy are you using any js module system or new import syntax?

[2017-05-30 04:08] rationality6 commented on #117
Same error here.

Do I need to learnd about requirejs or something?

[2017-06-02 12:36] mlankenau commented on #117
I get the same error

[2017-06-02 12:40] hzoo commented on #117
The `require` identifier/function is undefined since it's not in the browser. You need to run your code through a bundler like https://webpack.js.org which will handle that. If you still need to use gulp, there's https://www.npmjs.com/package/gulp-webpack

[2017-06-02 12:40] #117 closed

[2017-06-02 12:42] hzoo commented on #27
You just need to load the polyfill before the other files in an entry point. I would recommend https://webpack.js.org/ instead of simply concating files which can have some potential issues.

[2017-06-02 12:42] #27 closed

[2017-06-02 12:42] hzoo commented on #52
Closing for inactivity and seems like too many different issues.

[2017-06-02 12:42] #52 closed

[2017-06-02 12:43] hzoo commented on #57
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:43] #57 closed

[2017-06-02 12:43] hzoo commented on #63
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:43] #63 closed

[2017-06-02 12:44] hzoo commented on #79
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:44] #79 closed

[2017-06-02 12:44] hzoo commented on #80
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:44] #80 closed

[2017-06-02 12:45] hzoo commented on #95
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:45] #95 closed

[2017-06-02 12:45] hzoo commented on #97
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:45] #97 closed

[2017-06-02 12:45] hzoo commented on #98
Yep ^ is correct.

Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:45] #98 closed

[2017-06-02 12:45] hzoo commented on #101
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:45] #101 closed

[2017-06-02 12:46] hzoo commented on #106
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:46] hzoo commented on #102
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:46] #102 closed

[2017-06-02 12:46] hzoo commented on #107
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:46] #107 closed

[2017-06-02 12:46] hzoo commented on #99
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:46] #99 closed

[2017-06-02 12:46] hzoo commented on #109
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-06-02 12:46] #109 closed

[2017-06-02 13:13] matfin commented on #117
Thanks. I will take a look. Can I suggest an update to the [documentation](https://www.npmjs.com/package/gulp-babel#runtime) to include the info above?

[2017-06-04 08:44] rationality6 commented on #117
I solved this error with this way.
change babel to latest preset.
I read babel documentations

https://github.com/babel/babel-preset-env

.pipe(babel({
      presets: ['env']
    }))

and than install babel polyfill

and gonna eveyrhings work fine.

[2017-06-05 15:05] harellevy commented on #103
try using es2016 or es2017 in presets based on your needs. it should work.

[2017-06-20 15:10] mxshrestha opened #118 "Add ability to ignore files with specified name to go through babel transform"
there are cases where files need to be bypassed through babel transform. For example: https://github.com/lodash/babel-plugin-lodash/issues/83

[code]

[2017-07-09 11:25] DavidTorrijos opened #119 "presets Error"

[2017-07-09 11:26] #119 closed

[2017-07-09 11:43] DavidTorrijos opened #120 "presets Error"
Hi guys!
I have problems to compile my es6 code.

I recibe this error from my gulpfile.js:

**events.js:160
      throw er; // Unhandled 'error' event
      ^
Error: Cannot find module 'lodash/isPlainObject' (While processing preset: "/Users/david/node_modules/babel-preset-es2015/lib/index.js")
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:2

[2017-07-11 17:47] DavidTorrijos commented on #120
Hey guys!
Everything fine, the problem was in: return gulp.src('../../sources/es6/style.js')
if I write a route for the files at same level like: return gulp.src('sources/es6/style.js'), the task works properly.

I close the issue, Thank you!

[2017-07-11 17:48] #120 closed

[2017-07-13 19:13] tomsotte opened #121 "Implement a better error handler"
I wanted to make a gulp watch task, but every time it stopped when an error were found.
Since I've searched but found no real workaround, the only solution I found was to handle the error like `gulp-sass` does. It does not interrupt the watch and just report it on the console.

Solution source: https://github.com/dlmanning/gulp-sass/blob/master/index.js#L178

An easy implementation for whoever has

[2017-08-03 11:48] n1ru4l commented on #121
Would be cool to have something similar to https://github.com/adametry/gulp-eslint

[code]

[2017-08-04 17:49] martinkovac commented on #117
@rationality6 it doesn't work for me. It works when you remove plugins: ['transform-runtime'].

[2017-08-04 17:56] loganfsmyth commented on #117
`transform-runtime` is by definition modular. If you're using it, you need to be using your code in an environment that supports modules, so either Node or client-side with Webpack or Browserify.

[2017-08-26 15:04] chengmac commented on #93
# 辅导班
发的

[2017-08-27 15:59] hereisnaman commented on #121
@tomsotte I guess giving the user, chance to work around error event is better than just logging and not throwing an error.

User may need to do something when error event is fired. I am also doing it the same way you are while working with watchers.

[2017-08-27 21:08] tomsotte commented on #121
@hereisnaman what I am proposing does not exclude yoru use case, just ease the logging of the error, which it seems to me is the most common case for the compilation of sass.

[2017-08-29 15:09] DamienCassou opened #124 "Cannot find module 'babel-core'"
I've just updated from 6.1.2 to 7.0.0 and I now get this error message:

[code]

[2017-09-01 22:26] zhawkins opened #125 "presets: ['env'] being ignored"
I found a weird bug (maybe?) and I thought I'd submit it as an issue in case others are having similar problems.

Gulp setup like so:
[code]

My babel config within `package.json` seems to be ignored.
[code]

However once I update Gulp with:
[code]
the env config works. ¯\_(ツ)_/¯

Still not sure if it's a bug or a mistake on my part.

[2017-09-04 02:36] abbassiddiqi commented on #124
Install `babel-core` as your dev dependency and it will work.
[code]

[2017-09-04 02:50] loganfsmyth commented on #124
The messaging from `npm` probably isn't super obvious, but yeah this was a change in 7.0. `babel-core` is now expected to be a peer dependency. When I install it on my machine for instance:

[code]

which tries to convey this, but unless you're looking for it, it's pretty easy to miss.

[2017-09-04 02:50] #124 closed

[2017-09-04 10:02] DamienCassou commented on #124
Thank you, this worked. The release notes say:

could you please make it a bit more explicit that something is required from the users? A note in the README would be nice as well.

[2017-09-13 03:18] realisation opened #126 "TypeError: Cannot read property 'transform' of undefined"
I followed the directions on the babejs.io page to the T, but I'm getting a problem here that 'default' on _babelCore2 is not defined.

This is my transpiled code:

[code]

I have the 'env' preset activated in my .babelrc. What's up with that?

[2017-09-13 03:26] loganfsmyth commented on #126
It's possible the docs are out of date. Which instructions are you following?

It looks like you're doing

    import babel from "babel-core";
    babel.transform()

instead of

    import {transform} from "babel-core";
    transform();

[2017-09-13 03:27] realisation commented on #126
It looks like __esModule is true, and therefore it isn't cast into an object under the `default` key.
Yes, hmmm, when I manually set _babelCore.__esModule to false, it works.

[2017-09-13 03:28] loganfsmyth commented on #126
Well don't do that :P We just don't export the interface such that `import babel from "babel-core";` works, if you want to use `babel.transform`, you should do `import * as babel from "babel-core";`.

[2017-09-13 03:29] realisation commented on #126
Hmm - I'm a little confused, I didn't write any of that code; that code is the transpiled code.

[2017-09-13 03:30] loganfsmyth commented on #126
You showed your compiled code, but what does your original uncompiled code look like? It's an issue with that.

[2017-09-13 03:30] realisation commented on #126
I know! sorry I am eating my shoe here

[2017-09-13 03:30] realisation commented on #126
Let's rewind to your second comment

[2017-09-13 03:32] realisation commented on #126
Looks like your suggestion works. I wonder why - now it's not making a _babelCore2

[2017-09-13 03:33] realisation commented on #126
Thanks :)

[2017-09-13 03:33] #126 closed

[2017-09-21 20:11] nmiddendorff commented on #125
I would check your package.json to see if babel settings are defined there. The presets in package.json may override the settings you fed to the babel function in Gulp.

[2017-09-26 15:18] kyleholzinger opened #127 "Specify .babelrc"
Can you specify your own `.babelrc` file? I want to have a different preset in development vs in production. (I develop in chrome, but I need to be able to target back to IE11)

[2017-09-27 12:24] SamanthaAdrichem opened #128 "Syntax error do not know why"
When using this basic typescript file and converting it using gulp babel

I keep getting this error:
[code]

What am i doing wrong? PHPStorms tells me the .ts file is ok.

test.ts
[code]

gulpfile.test.js
[code]

our full package.json (not all are used in this test)
[code]

[2017-09-27 16:20] loganfsmyth commented on #128
If you are writing Typescript, you'll need to pass the code through Typescript first to get normal JavaScript code, then if you want you can pass that through Babel. There is work in progress to make it possible to pass TS content to Babel directly, but it is not in Babel 6.x.

[2017-09-28 16:57] #128 closed

[2017-09-29 06:35] SamanthaAdrichem commented on #128
I was told babel was meant for that. I should not have listened to them ;) Thnx though!

[2017-10-09 03:04] trusktr opened #129 "[bug?] Seems to minify output by default, but I haven't specified that."
I've got a gulpfile:

[code]

The output is not minified.

Then when I add gulp-babel:

[code]

it will minify the output.

My babel.config looks like this:

[code]

So I don't see why it is minifying stuff without me specifying that (I don't want it to minify).

[2017-10-09 03:09] loganfsmyth commented on #129
What output? You haven't given any examples.

[2017-10-09 03:33] loganfsmyth commented on #129
Chances are it is printing this message: https://github.com/babel/babel/blob/master/packages/babel-generator/src/index.js#L76

So pass `compact: false` if you don't want that. Generally you'd run Babel via Rollup instead of via Gulp though, since processing the individual files is much more flexible. What you have now passes Babel the whole large bundle that Rollup outputs.

[2017-10-09 03:33] #129 closed

[2017-10-09 03:35] loganfsmyth commented on #129
Also, as I'm sure we've mentioned in issues in the past that you've filed, unless you're totally sure something is a bug, we generally direct support questions away from Github: https://github.com/babel/babel#looking-for-support

[2017-10-09 22:44] trusktr commented on #129
True, I was trying to change Rollup's module output, which is not configurable in Rollup.

I was seeing that "deoptimized" message. It just shouldn't be on by default. (is that considered a bug?)

I don't need this anymore but thanks for the tip anyways.

[2017-10-11 07:18] oronoa commented on #93
ו0לולשןלל

[2017-10-24 21:47] jarzebski opened #131 "Unexpected token with double brackets"
Hi, I try minify script, but i have error Unexpected token ((

[code]

Problematic code:

[code]

Also I try misc presets, but without success

[2017-10-24 23:31] loganfsmyth commented on #131
Can you post the full error that you get?

[2017-10-27 11:07] jarzebski commented on #131
Sorry, i have syntax error :) After fix work fine.

[2017-10-27 11:07] #131 closed

[2017-10-28 07:38] godtail opened #132 "babel-core is missing in npm readme."
`$ npm install --save-dev gulp-babel babel-preset-env`

[2017-11-13 12:27] Bound3R commented on #85
@azat-io hi, how you solved this problem?, something similar happens to me, but without a reactjs.

[2017-11-20 15:34] aaronkahlhamer opened #134 "Deletes package.json file (Rollup.js + Gulp Babel)"
When `.pipe(babel({...}))`is commented out there isn't a problem. Otherwise package.json is deleted. How is that even possible when it's not referenced here?

[code]

[2017-11-20 17:40] loganfsmyth commented on #134
If you'd like to put together a reproduction repository someone can take a look, but this definitely doesn't seem like something the code would be doing.

[2017-11-20 21:33] aaronkahlhamer commented on #134
Thanks @loganfsmyth. I created the [repro](https://github.com/aaronkahlhamer/gulp-babel-repro) and it could have to do with the return on [line 26](https://github.com/aaronkahlhamer/gulp-babel-repro/blob/master/20170323/v01/.tasks/build-verifydeveloper.js#L26). After moving it to line 30 it works. Still, I don't understand why package.json went missing. Guessing, inquirer attempts to use fs.writeF

[2017-11-20 21:33] #134 closed

[2017-12-04 13:39] Igloczek opened #135 "Stable release is using beta versions of Babel packages"
The latest stable version of your package is based on beta versions of Babel packages, which lead to weird issues (in my case unmeet peer dependencies and missing `babel-core`) and is against good practices of making stable releases.

Will be nice if you will change this release also to beta, same as you already did with 8.0.

[2017-12-04 14:12] zalog commented on #132
To solve this we can switch to:
[code]
But still :)

[2017-12-04 14:18] zalog commented on #135
cc https://github.com/babel/gulp-babel/issues/132

[2017-12-04 16:02] loganfsmyth commented on #135
Could you clarify what you mean? The stable version is `7.0.0` which still relies on `babel-core`. We've published `8.0.0-beta.0` under the tag `next`, but it's definitely not meant to be stable.

[2017-12-04 16:03] loganfsmyth commented on #132
`gulp-babel` has a peer dependency on `babel-core` so generally you'll want to `npm install gulp-babel babel-core babel-preset-env` to get them all set. Looks like the documentation is stale, sorry about that.

[2017-12-04 16:06] Igloczek commented on #135
Your stable `7.0.0` release is based on the bunch of unstable dependencies, so shouldn't be released as a stable, but as a `7.0.0-beta`
[code]

[2017-12-04 16:29] loganfsmyth commented on #135
Those are dev dependencies. The only dependencies that matters for users is the peer dependency, which allows both Babel 6 and 7.

[2017-12-06 23:27] Igloczek commented on #135
Sorry for the misunderstanding, but for me, it's kinda weird that I have to install `babel-core` separately while installing a `gulp-babel`, b/c I never saw something like this in any gulp plugin.

[2017-12-06 23:37] loganfsmyth commented on #135
That's generally the approach Babel is moving toward. We've done it consistently when using Babel with Webpack, but the rest of our Babel wrappers haven't until recently. Sorry the docs are outdated.

[2017-12-07 07:15] zalog commented on #132
cc #123

[2017-12-09 20:16] kuraga commented on #24
IMHO should be configurable: there is `.mjs` not only `.js` now...

[2017-12-09 21:27] kuraga commented on #24
IMHO should be configurable: there is `.mjs` not only `.js` now... @hzoo would you accept a PR?

[2017-12-16 03:46] ben-z commented on #127
I think this is a duplicate of #48.

[2017-12-22 21:30] dozer75 opened #136 "gulpjs recommends upgrading of vinyl for dependent plugins due to issues with gulp 4.0.0-alpha.3"
Refer to gulpjs/gulp#2065 @phated recommend upgrading usage of vinyl to 2.0 or 2.1 and to stop using gulp-util. I can see that your project is using gulp-util and thus an old vinyl that  they says isn't compatible with gulp 4.0.0.

For further discussions I think it's better that you take it directly with the @gulpjs project since I don't know whats exactly is the problem.

[2017-12-22 22:45] phated commented on #136
Ref #137

[2017-12-29 17:22] phated commented on #136
ping @hzoo

[2017-12-30 05:41] #132 closed

[2018-01-10 06:29] 13653389794 opened #139 "当我引入gulp-babel报错"
我的gulpfile
[code]

[2018-01-24 06:41] wscourge opened #142 "Spread operator not recognized in object declaration"
Minimal example:

*gulpfile.js*
[code]

*nope.js*
[code]

Running `gulp nope` produces following error:

      ^
SyntaxError: /directory/nope.js: Unexpected token (7:4)
&nbsp;&nbsp;&nbsp;&nbsp;5  | let x = {
&nbsp;&nbsp;&nbsp;&nbsp;6 |&nbsp;&nbsp;q: 1,
&nbsp;> 7 |&nbsp;&nbsp;... y && { a: 2 }
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;^
&nbsp;&nbsp;&nbsp;&nbsp;8  | }
&nbsp;&nbsp;

[2018-01-24 07:00] loganfsmyth commented on #142
You are missing https://babeljs.io/docs/plugins/transform-object-rest-spread/. Spread in objects is not a standard feature yet.

[2018-01-24 07:00] #142 closed

[2018-01-24 07:50] Xstoudi commented on #115
Same here, up!

[2018-01-26 10:39] pawelsas commented on #106
Same issue over here.
Neither "ignore" nor "only" is working for me.

`var srcFiles = [
    `${global.paths.src}/js/jquery.slim.min.js`,
    `${global.paths.src}/js/plugins/**`,
    `${global.paths.src}/js/components/**`,
    `${global.paths.src}/js/pages/**`,
    `${global.paths.src}/js/main.js`
];

var srcPlugins = [
    `${global.paths.src}/js/jquery.slim.min.js`,
    `${global.paths.src}/js/pl

[2018-01-26 18:32] demurgos commented on #139
Please report your issues in english and use fenced code blocks for formatting (using 3 backticks <code>```</code> before and after the code).

Your error is related to your package manager and the `babel-template` package, not to `gulp-babel`.

[2018-01-26 18:32] #139 closed

[2018-01-26 18:35] demurgos commented on #94
@chiel
I remember having similar issues with `nyc`, mine was caused by gulp and Typescript.

I see that the original issue you linked is closed. Is it fixed or do we need to update something here?

[2018-01-26 18:41] demurgos commented on #121
I agree that we need a better error handler. It should not automatically log errors but simply give the user the ability to add its own custom handler.

Not stopping in watch-mode could be a specific option.

[2018-01-26 19:30] demurgos commented on #136
Closed by #127.

[2018-01-26 19:30] #136 closed

[2018-01-26 21:32] loganfsmyth commented on #106
`ignore` is notoriously bad in Babel 6. If you want you can try passing a function instead and doing the glob matching yourself. I doubt there is much `babel-gulp` could do to fix this though.

In Babel 7's Beta I believe this code is much more likely to work.

[2018-01-27 13:51] tomsotte commented on #121
It is in fact what I'm proposing, a nifty addition that does not change in any way the current implementation.
It just simplifies and reduce code for the developer who just need to log errors while on watch.

[2018-01-30 17:46] duvan01 commented on #124
Thanks @abbassiddiqi,Thanks, but why I have to install this module by separated.

[2018-01-31 15:14] NiavlysB commented on #124
The [Setup](https://babeljs.io/docs/setup/#installation) page in the docs on [babeljs.io](babeljs.io) doesn't mention this either:

[2018-01-31 16:47] demurgos commented on #124
Agreed, the setup page should be updated.
The npm page (for `7.0.1`) and Github README (for the beta version) are up-to-date so I recommend to check them.

@duvan01
Having babel as a peer dependencies allows the main project to pick the version of Babel it wants without waiting for `gulp-babel` to be updated. Still, I'd prefer it to work out-of-the box. We may consider a setup where a default Babe

[2018-02-07 12:07] pawelsas commented on #106
It works in .babelrc file.

[2018-02-07 16:37] iDVB commented on #127
@Sawtaytoes why is there an issue that says it does?
https://github.com/babel/gulp-babel/issues/48

[2018-02-28 17:27] leotm commented on #16
I lost just over an hour, due to a trailing comma, in my parent folders' package.json (not sure why Babel is even checking there).
It was showing:
[code]

[2018-03-10 18:45] PocketNinjaDesign opened #148 "Compiling to one file issue"
Hi, I made a stack overflow for this as well so you can block and delete this anytime you want but I feel as though nobody will really answer this one on there

https://stackoverflow.com/questions/49211877/how-to-generate-single-js-with-gulp-babel

I'm not really seeing the full picture,  either I should just know or the documentation needs to explain these apparent minute details that nobody else

[2018-03-10 18:47] PocketNinjaDesign commented on #148
8 views of the Stack overflow and not one suggestion.  So it's not that easy to answer it appears.

[2018-03-10 18:50] loganfsmyth commented on #148
This is what Webpack is for. `gulp-babel` is used primarily if you wanted to compile your code to run on Node.

[2018-03-10 18:51] loganfsmyth commented on #148
Also please realize that Babel is a project maintained by volunteers. Your question on SO has only been open for an hour. These things take time.

[2018-03-10 19:01] PocketNinjaDesign commented on #148
Well the velocity of gulp-babel isn't bad, with the increased use of es6 now.

https://npm-stat.com/charts.html?package=gulp-babel&from=2016-01-01&to=2018-01-01

But I think getting gulp-babel to pull all the scripts into 1 including the imports would really stop the tide of people shifting to webpack. :-S

I mean, I know I'm gradually moving over to the point I just won't use gulp anymore which i

[2018-03-10 19:04] PocketNinjaDesign commented on #148
I also want the final script to put on a website and not to run on node by the way.  I currently use webpack to compile es6, pull jqlite and all my other scripts connected by import to run on an apache server.

[2018-03-10 19:12] loganfsmyth commented on #148
Why would stopping that be desirable? What about webpack is undesirable that wouldn't also apply to gulp-babel if we tried to make it compete with Webpack? Supporting single-file concatenation in `gulp-babel` would literally mean re-implementing Webpack. They just aren't targeted at the same usecase and it would not make sense for us to try to tackle that.

[2018-03-10 20:24] PocketNinjaDesign commented on #148
Ta

[2018-03-10 20:24] #148 closed

[2018-03-15 06:54] zaojiahua commented on #124
this is not works for me.

[2018-03-15 07:27] zaojiahua commented on #124
it works

[2018-03-15 11:36] WuglyakBolgoink commented on #125
@zhawkins & @nmiddendorff

Preset **`env`** was again renamed into **`@babel/preset-env`**.

Be sure to have this new packages in **`package.json`**:
[code]

[2018-03-15 13:00] jawittdesigns opened #150 "Cannot find module '@babel-core' error"
I'm getting the error on the latest version

`Error: Cannot find module '@babel-core'
    at Function.Module._resolveFilename (module.js:542:15)
    at Function.Module._load (module.js:472:25)
    at Module.require (module.js:585:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/path-to/index.js:7:15)
    at Module._compile (module.js:641:30)
    at Object.Module._extension

[2018-03-16 12:39] krshubham commented on #124
It wasn't working for me too, until I read the README.
It clearly says:
```npm install --save-dev gulp-babel @babel/core @babel/preset-env```
👍

[2018-03-18 05:35] motss commented on #150
@jawittdesigns @hzoo

Encountered this issue as well. Package author should tag the release if it is not meant for stable such as tagging any beta version as `next`. Read [npm publish with tags](https://docs.npmjs.com/getting-started/using-tags) with more details.

Users might encounter dependency conflict as the latest beta version will be treated as lastest version unlike the tagged version wher

[2018-03-19 19:05] hzoo commented on #150
`@babel-core` is not a package? It should be `@babel/core`.

And yes 8.0.0-beta should be on `next`, I'll change it

[2018-03-19 19:05] #150 closed

[2018-03-19 19:08] hzoo commented on #125
@WuglyakBolgoink That's only for Babel 7, the issue is old so it's probably unrelated since the OP didn't specify the version.

[2018-03-19 19:08] #125 closed

[2018-03-19 19:08] hzoo commented on #127
Not sure what this is asking for, gulp-babel will read the babelrc in your project yes.

[2018-03-19 19:08] #127 closed

[2018-03-19 19:11] kyleholzinger commented on #127
Wasn't aware of the `env` config flag. Thank you very much @hzoo !

[2018-03-31 22:17] AlexanderKozhevin commented on #93
For some reason in my case, I got the same error.
I installed everything. But it try to find preset-0 relative to the code path which is wrong.

[code]

[2018-04-02 19:44] AlexanderKozhevin commented on #124
I keep getting an error on windows machine.
[code]

[2018-04-02 19:50] loganfsmyth commented on #124
@AlexanderKozhevin When installing, you need to install that too: https://github.com/babel/gulp-babel/tree/v7-maintenance#install

[2018-04-02 19:51] AlexanderKozhevin commented on #124
@loganfsmyth thanx!

[2018-04-10 14:53] stephanLeece opened #151 "npm install -g babel-core"

[2018-04-10 14:53] #151 closed

[2018-04-10 18:59] etnbrd opened #152 "[gulp-babel@7.0.1] ReferenceError: Using removed Babel 6 option: .sourceMapTarget"
When using gulp with this gulpfile.babel.js:
[code]
With these versions:
[code]
I get this error:
ReferenceError: Using removed Babel 6 option: .sourceMapTarget - The `sourceMapTarget` option has been removed because it makes more sense for the tooling that calls Babel to assign `map.file` themselves.

I fixed it inside my own node_modules, by removing the offending line ([index.js:33](https://git

[2018-04-10 19:07] loganfsmyth commented on #152
[code]
is for Babel 6. If you're using Babel 7 you need to be using `8.0.0-beta.2`

[2018-04-10 19:07] #152 closed

[2018-04-16 04:50] chrisgervang opened #153 "Using @babel/preset-typescript, unsure how to include .ts and .tsx file extensions with gulp-babel"
Hi there,

I'm trying to use typescript with babel, and I use gulp. I'm aware of the issue surrounding the .ts and .tsx file extension babel issues (https://github.com/babel/babel/pull/6027), and the recommended solution to put this somewhere, but I'm not sure where it goes when using gulp-babel:

[code]

This code might need to be added to gulp-babel in order to register the extensions correctly,

[2018-05-02 15:43] DarthMarcius opened #154 "When used with gulp-source-maps build fails with error "Path must be a string. Received undefined""
After updating my node to "v8.11.1" and npm to "5.6.0" I gulp build gets broken if used with "gulp-source-maps"

Here is my gulpfile:
`"use strict";

let tabReloaderInstance,
    gulp = require("gulp"),
    gulpSourcemaps = require("gulp-sourcemaps"),
    mergeStream = require("merge-stream"),

    argv = yargs.argv,
    rootPath = argv.JenkinsCartridgesPath || __dirname,

    // Babel
    babel =

[2018-05-02 15:50] geonanorch commented on #106
Just wanted to mention that I am having the reverse issue; with gulp-babel v8.0.0.beta2:
* in `.babelrc` top-level entries like `ignore` are ignored (no pun intended); but `presets` is used
* passing the same `ignore` entry directly in the `.pipe(babel({ . . . }))` call works

However if I provide configuration with `babel(myconfig)`, then `.babelrc` is not longer used.
(suggest to describe that b

[2018-05-13 19:33] ad-git opened #155 "How set the stage-2"
There is any way to set the level stage-2. I try this but dont work

[code]

[2018-05-13 23:58] loganfsmyth commented on #155
Please elaborate on "doesn't work". That is the correct way to do it. Maybe you forgot to install it?

[2018-05-14 21:01] ad-git commented on #155
Ok "i elaborate" that your answer is not useful at all, so resolve it alone.

Thx you for your time any way

[2018-05-14 21:02] #155 closed

[2018-05-29 02:58] chrisgervang commented on #153
@hzoo is there anything I can do to help with this, or do you have time to look into this? Although the upstream change that could fix this (babel/babel#6027) isn't implemented, other downstream tools like babelify have work arounds. I was wondering, do you know something that could work for gulp?

[2018-05-29 03:52] loganfsmyth commented on #153
@chrisgervang Could you clarify exactly what issue you're currently running into with `gulp-babel`? It should just process any file given to it based on what you list in `gulp.src`, so Babel itself doesn't really need to know what extensions are in use in `gulp-babel`'s case.

Are we talking about when you are compiling your files, or when you try to run them? What specific issues are you seeing i

[2018-05-30 21:30] chrisgervang commented on #153
@loganfsmyth this issue occurs while compiling files. The issue might be that `gulp.src` isn't including any `.ts`, `.tsx` in it's search for some reason.

[2018-05-30 21:32] loganfsmyth commented on #153
Without seeing your Gulp task, it is hard to say. Could you add more code?

[2018-05-30 22:07] chrisgervang commented on #153
After changing `gulp.src` to a list of string file globs that includes `.ts` and `.tsx` files, the issue was fixed. Thanks for the guidance!

[2018-05-30 22:07] #153 closed

[2018-06-11 19:23] djwashburn commented on #97
Could you reopen this? I have the same problem as @cryoguy above - even with this setting, it fails on a complaint about deleting local variables in strict mode.

[2018-06-15 13:52] robbietjuh commented on #154
Just wanted to add in my two cents. It seems this issue is related to babel-core merging source maps. If multiple files have been processed by babel-core, it will merge their source maps. This causes the `file` attribute to be lost (instead, the `sources` attribute is created, containing all relevant files that have been merged).

gulp-babel however, expects the `file` attribute to still be there.

[2018-06-24 15:20] mazxaxz opened #157 "Object.create is not a function after compiling"
Hey,
I'm using Gulp to bundle my javascript files everything is working correctly until I compile them with Babel.
Here is the gulpfile.js code:
[code]
package.json:
[code]
This is error which shows after compiling:
![err](https://user-images.githubusercontent.com/32012952/41820458-8a15877c-77d2-11e8-99af-77cc7590e934.PNG)

This is the first time I am using Gulp with Babel, so the problem might be

[2018-06-26 17:56] #157 closed

[2018-06-26 17:57] mazxaxz commented on #157
Sorry for being an idiot XD
My Object class overwrites the JS's Object XD

[2018-06-28 04:10] JunreyCen opened #158 "`interopRequireDefault` required by windows absolute address"
When compiled esmodule to commonjs, i got `interopRequireDefault` required by windows absolute address instead of npm address

**Input Code**
[code]

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Expected behavior/code**
[code]
or
[code]

**Environment**
- Babel version(s): [7.0.0-beta.47]
- Node/npm version: [Node 8/npm 6]
- OS: [Windows 7]
- How you are using Babel: [`

[2018-06-28 04:29] loganfsmyth commented on #158
Closing since we've already got https://github.com/babel/babel/issues/8231

[2018-06-28 04:29] #158 closed

[2018-07-04 08:56] Wonko7 opened #159 "generated source maps are broken"
Hi all,

I can't seem to generate valid sourcemaps when using gulp-babel, please let me know if I'm missing something or got something wrong, but I think this is a bug.

You can reproduce this behaviour here: https://github.com/Wonko7/gulp-babel-bug-report

Using gulp-babel 8.0.0-beta.2 to build a project produces incorrect sourcemaps, whereas calling babel manually on each js file works.

If you

[2018-07-05 07:13] demurgos commented on #159
It may be related to a sourcemaps issue with subdirectories.

Can you try [this workaround](https://github.com/gulp-sourcemaps/gulp-sourcemaps/issues/191#issuecomment-345196267)?

[2018-07-05 08:42] Wonko7 commented on #159
Thanks @demurgos but it didn't work, I tried your fix here:
https://github.com/Wonko7/gulp-babel-bug-report/blob/sourceRoot/gulpfile.babel.js
Let me know if I did it wrong.

[2018-07-05 09:01] demurgos commented on #159
You applied it properly, so it seems it is not related to the issue I linked.

I am not on my dev computer right now so I can't run your repro (BTW, thanks: it's great to have it). I'll try to look at it later. If you find something yourself, please leave a comment.

[2018-07-06 15:59] onvno commented on #93
`gulp 3.9.x` , `preset:['env'] `also see the problem. my system is mac OS, when the project on the desktop, execute the gulp babel command not work, error like 'Couldn't find preset "es2015" relative to directory' . but when migrate the project to `Documents`, the command can work normal.

Maybe Also need to fix the relative path with `babel-preset-env`

[2018-07-09 18:20] n2liquid commented on #108
We're having what appears to be the same problem, only we have `gulp-typescript` on the pipeline just before `gulp-babel` and no `gulp-requirejs-optimize`. I was kinda hoping this would've been fixed when I tried today, since the issue has been around since early 2017. Has there been any progress on this since then?

I've been thinking of leaving sourcemaps off in production, but we use Sentry for

[2018-07-09 18:35] loganfsmyth commented on #108
@n2liquid Make sure you're using `babel-core@6.26.3`. If so, then if you can post a reproduction repository, I can take a look.

[2018-07-09 18:38] n2liquid commented on #108
@loganfsmyth, I'll be doing that right away. Thanks!

[2018-07-09 19:37] n2liquid commented on #108
Yes, we're using `babel-core@6.26.3`.

Here you go: https://files.n2.gs/index.php/s/8NeipCOUkvsHzr8

1. Build with `gulp with-minify` or `gulp without-minify` (for comparison).
2. Open `src/index.html` on the browser.
3. Add a breakpoint to `abc = 321;` on `index.js`.
4. Refresh the page.

Expected outcome:

* Should be able to step to the next line (`console.log(...)`), etc.

Got:

* Step next bu

[2018-07-18 12:54] demurgos commented on #159
Seems to be a duplicate of #64

[2018-07-18 21:03] thecodermarcelo commented on #93
I'm using webpack, I've got this error since I have used `npm link` wich does a symbolic link, before I was using `cp -r ./lib ./project/node_modules/` and I wasnt getting any errors

[2018-07-31 05:57] bmy4415 opened #160 "is gulp-babel using .babelrc file?"
Hello, I am new to gulp and gulp-babel.
I used `node: v8.9.4` and I wanted to use `async/await` and `import/export`. So I used gulp and gulp-babel plugin.
At first I made `gulpfile.babel.js` like below.
[code]

But every time I build, it generates `regeneratorRuntime` and I cannot run my program using node.
I tried many solutions like `babel-plugin-transform-runtime`, but the result was same.

Str

[2018-07-31 05:59] loganfsmyth commented on #160
Yes, `gulp-babel` will use Babel config files. You can pass `babelrc: false` if you'd like to disable that.

[2018-07-31 05:59] #160 closed

[2018-07-31 06:03] bmy4415 commented on #160
Thanks @loganfsmyth .
Then, when I specify babel options at `gulpfile.babel.js` and I already have .babeljs, will config on `gulpfile.babel.js` be ignored?

[2018-07-31 06:06] loganfsmyth commented on #160
Yes, though personally I don't use `gulpfile.babel.js`, I'd use `gulpfile.js` and just only use features available on node.

[2018-07-31 06:08] bmy4415 commented on #160
Thanks. I used `gulpfile.babel.js` to use `import/export`(which is not supported at my node version).
Thanks to you, I can understand what happen.

[2018-08-28 10:21] bugejakurt opened #161 "Add support for @babel/preset-env instead of babel-preset-env"
In gulp-babel I receive "Cannot find module 'babel-preset-env'" with gulp-babel 8.0.0-beta.2

[2018-08-29 20:29] allanjackson commented on #161
I'm having this same issue with the final version 8.0.0

[2018-08-29 20:31] allanjackson opened #163 "Add support for @babel/plugin-transform-runtime instead of babel-plugin-transform-runtime"
Version 8 of gulp-babel won't run for me. I keep getting the error "Cannot find module 'babel-plugin-transform-runtime'"

I'm including the new version of that plugin, @babel/plugin-transform-runtime

[2018-08-29 20:31] loganfsmyth commented on #161
`8.0.0` is for use with Babel 7.x. With Babel 7 you'd be using `@babel/preset-env`. If you're using Babel 6.x and `babel-preset-env` you should use `gulp-babel@7`.

[2018-08-29 20:34] loganfsmyth commented on #163
implies that your Babel configuration has not been updated to reference the new name of the plugin.

[2018-08-29 20:39] loganfsmyth commented on #161
@bugejakurt I can't actually tell what issue you're seeing. If Babel is saying

it probably means that your own config file for Babel is referencing the wrong preset.

[2018-08-29 21:18] allanjackson commented on #163
I'm trying to upgrade to babel 7 and gulp-babel 8, and I did update to the new plugin name for the transform-runtime. The weird thing is that even if I delete that plugin entirely, it's still complaining. So maybe it's just some sort of cache issue or something. I'll look into that.

[2018-08-30 10:33] bugejakurt commented on #161
@loganfsmyth Thanks, this solved my issue: https://github.com/babel/babel-loader/issues/616

[2018-08-30 10:33] #161 closed

[2018-08-30 15:27] allanjackson commented on #163
Aha, you were right. I was including the new dependency, but then I needed to update the plugin name as well. Thanks.

[2018-08-30 15:27] #163 closed

[2018-09-03 03:26] loganfsmyth commented on #106
I'm triaging old issues on gulp-babel. Since this has been inactive for ages, I'm going to close it. Feel free to re-open if there's still something to discuss, but I'm assuming at this point it's been too long to address in a useful way.

[2018-09-03 03:26] #106 closed

[2018-09-03 03:27] loganfsmyth commented on #103
I'm triaging old issues on gulp-babel. Since this has been inactive for ages, I'm going to close it. Feel free to re-open if there's still something to discuss, but I'm assuming at this point it's been too long to address in a useful way.

[2018-09-03 03:27] #103 closed

[2018-09-03 03:30] loganfsmyth commented on #94
I'm triaging old issues on gulp-babel. Since this has been inactive for ages, I'm going to close it. Feel free to re-open if there's still something to discuss, but I'm assuming at this point it's been too long to address in a useful way.

If someone runs across this, feel free to file a new issue with a reproduction repository.

[2018-09-03 03:30] #94 closed

[2018-09-03 03:31] loganfsmyth commented on #118
I'm triaging old issues on gulp-babel. Since this has been inactive for ages, I'm going to close it. Feel free to re-open if there's still something to discuss, but I'm assuming at this point it's been too long to address in a useful way.

This appears to be an issue with `babelify` anyway.

[2018-09-03 03:31] #118 closed

[2018-09-10 19:40] yanickrochon commented on #93
This problem has not been resolved.

[code]

[2018-09-11 01:29] loganfsmyth commented on #93
@yanickrochon We would need a reproducible example repository and ideally I'd recommend filing a new issue.

[2018-09-14 11:10] lasalu99x commented on #124
I could fix it by this link

https://github.com/babel/babel-loader

[2018-09-14 19:48] amarbir22 opened #164 "r"

[2018-09-14 19:49] #164 closed

[2018-09-20 08:50] basickarl commented on #124
npm i @babel/core

[2018-09-25 03:13] reachdevelopers opened #165 "Plugin/Preset files are not allowed to export objects, only functions. In /dir..."
Using node 10.11.0
Gulp 4
I get this error `Plugin/Preset files are not allowed to export objects, only functions. In /dir...`

I have not made any changes to NPM or gulp and getting this on several projects that I run Gulp 4 and gulp-babel.

Can anyone tell me what I need to do?

[2018-09-25 04:48] loganfsmyth commented on #165
Essentially what this means is that one of your presets isn't compatible with Babel 7. I'd look through and if there are any `babel-` presets in the `6.x` range, you'll want to update them to `@babel/` presets in the `7.x` range.

[2018-09-25 04:55] reachdevelopers commented on #165
but I have not changed anything on like 4 different local apps and suddenly all of them are getting that error when I gulped.  They had been working and nothing has also at work I have the same setup.

[2018-09-25 04:56] loganfsmyth commented on #165
Did you intend to use Babel 7? That error implies that you're using Babel 7, so if you didn't upgrade on purpose, something in your configuration must have changed somewhere. It is hard to say more without knowing your dependencies and build steps though.

[2018-09-25 05:04] reachdevelopers commented on #165
Nothing has changed in the project is weird here at home like I said 4 different apps and at work one, first I got this at work today, and when I get home I gulp on a similar setup and same error. Anyways let take a look at what you are saying regarding babel version.

I have this

` "gulp-babel": "^8.0.0",
    "@babel/core": "^7.0.0-beta.46",
    "@babel/preset-env": "^7.0.0-beta.46",
    "babel-

[2018-09-25 05:37] loganfsmyth commented on #165
That configuration is definitely not right.
[code]
are both Babel 6, so they definitely won't work with `gulp-babel@8.x` or `babel-loader@8.x`.

What is your Babel config? It'd either be a `.babelrc` or in your Gulp config as arguments for `gulp-babel` / `babel-loader`.

[2018-09-25 06:18] reachdevelopers commented on #165
` "es2015"`

[2018-09-28 10:28] hu-qi commented on #150
感谢 遇到同样的问题  我这边默认安装的版本是next 8.0.0 而babel-core默认装的6.26.3 导致不匹配，gulp-babel@^8.0.0要求babel-core^7.0.0。
解决方法：安装匹配的gulp-babel 和babel-core

![image](https://user-images.githubusercontent.com/17986122/46203400-3e99d580-c34c-11e8-8c64-ab33b175b134.png)

[2018-10-02 23:32] atliuhui opened #166 "Couldn't find intersection"
# Couldn't find intersection
## Error
[code]
[code]

## Right
[code]
[code]

[2018-10-02 23:33] atliuhui commented on #166
# `.babelrc` file
[code]

[2018-10-03 02:43] loganfsmyth commented on #166
This looks to be an issue with minify, not gulp-babel: https://github.com/babel/minify/issues/904

[2018-10-03 02:43] #166 closed

[2018-10-06 19:51] altaf4web commented on #93
npm install babel-preset-es2015 babel-preset-stage-2 --save

after installing this working fine now

@rbatllet Thanks

[2018-11-07 21:40] vincentGustav opened #167 "Gulp babel not transpiling to es5"
I installed gulp babel (and dependencies) and when running gulp, same es6 code is being output in dist. I tried adding .babelrc to specify preset as well as specifying preset in gulp.

Is there anything I am missing?

gulpfile
[code]

.babelrc
[code]

package.json
[code]

[2018-11-08 13:03] zengkan0703 opened #168 "gulp-babel@8 babel@7 can not transform jsx to js"
Hello，I have some problem when I update babel and gulp-babel to the latest, I can`t transform jsx to js.

This is my gulpfile.js:
[code]
This is my package.json:

[code]
This is my .babelrc:
[code]

when I run gulp, I got this
![dist](https://user-images.githubusercontent.com/20679471/48199972-ad7d3c00-e398-11e8-84d6-97d3c6509117.png)
![src](https://user-images.githubusercontent.com/20679471/48199

[2018-11-09 03:41] loganfsmyth commented on #168
I don't see anything obviously wrong with your code. Would you be able to make a small repository that recreates the issue?

[2018-11-09 05:49] lanyuechen commented on #168
Oh, I have figure out what the problem it is. The *.jsx file use static property in the class, so the .babelrc file should config the plugins of @babel/plugin-proposal-decorators, just like the below:

[code]

[2018-11-09 06:03] zengkan0703 commented on #168
@lanyuechen you are right, thank you, this is exactly what I need.
@loganfsmyth Thank you anyway, I have resolved this problem by @lanyuechen .
But I am a litte bit confused why babel dose not throw any error or warning when I use unsupported property in my code.

[2018-11-09 10:29] zengkan0703 commented on #168
@loganfsmyth  Thank you anyway, I will close this issue soon, have a nice day.

[2018-11-09 10:29] #168 closed

[2018-11-10 06:46] NhatNam98 commented on #124
Thanks you so much

[2018-11-13 22:55] Extarys commented on #167
I have the same issue I got no files being created by the task where babel runs.

[2018-11-19 08:02] wehelie commented on #93
@altaf4web Thanks. This works for me.

[2018-11-21 08:09] jcklpe commented on #148
Hey can I get some clarification real quick.

I know the basics of webpack. I set up my first project with it. But it is pretty complicated, and for a small simple Wordpress project I'd much prefer to set up a couple of gulp tasks instead.

The main reason I want to be able to use babel is just because I like the way that es6 import works versus the normal gulp way of concatnating everything via a

[2018-11-21 17:33] jcklpe commented on #148
@loganfsmyth Yeah, I've used webpack and babel loader like I said, but it's also kind of complex and I found using gulp a lot easier for my wordpress theme project which doesn't need the more powerful features of Webpack.

[I found a solution for my desired import functionality in gulp though. ](https://github.com/ifandelse/gulp-imports)

[2018-11-27 18:21] philwolstenholme commented on #167
I'm also seeing this behaviour with a similar setup to @vincentGustav's.

[2018-11-28 17:02] gpresland commented on #124
**Babel 6:**

`npm install --save-dev` The following:

[code]

**Babel 7:**

`npm install --save-dev` The following:

[code]

[2018-11-29 23:24] tifDev opened #171 "Error: Cannot find module '@babel/plugin-minify-dead-code-elimination'"
I've installed babel via:
`npm install --save-dev gulp-babel@7 babel-core babel-preset-env`

Then i also installed the plugins:
[code]

Here is my gulpFile.js:

[code]

When i run gulp goBabel im getting:
[code]

**How can i make this working?**

[2018-11-30 06:09] loganfsmyth commented on #171
If you've installed `babel-plugin-minify-dead-code-elimination` and `babel-preset-env` for Babel 6, then those are what you should reference in your config. The `@babel/`-prefixed packages are for Babel >= 7.x

[2018-11-30 06:09] #171 closed

[2018-11-30 06:12] loganfsmyth commented on #165
`es2015` is for Babel 6. If you are using Babel 7, you should use `{ presets: ["@babel/preset-env"] }` in your config.

[2018-11-30 06:12] #165 closed

[2018-12-04 14:22] Hamik25 commented on #167
I'm also have this issue to @vincentGustav .

[2018-12-04 15:41] crhistianramirez opened #172 "Unexpected token error when trying to use spread operator"
I have the following installed:
[code]
And my config:
[code]

But I'm getting an error on this line:

[code]

What am I doing wrong?

[2018-12-04 23:37] loganfsmyth commented on #172
Would one of you be able to make a reproducible example?

[2018-12-07 12:37] hkirsman opened #173 "How do you target browsers?"
I really can't figure it out. This is my example. Could somebody help?

    gulp.task('babel', function() {
      config['paths']['js'].forEach(function(path) {
        return gulp.src(path.src)
          .pipe(babel({
            presets: [
              [
                "@babel/env",
                {
                  "targets": {
                    // The % refers to the global coverage of u

[2018-12-07 13:25] surajSDM opened #174 "Cannot find module 'babel-preset-babel-loader'"
ACT_Nurse suraj.sanwal$ **./node_modules/.bin/webpack-dev-server -d --config ./web/webpack.config.js --inline --hot --colors**

ℹ ｢wds｣: Project is running at http://localhost:8080/
ℹ ｢wds｣: webpack output is served from /
✖ ｢wdm｣: Hash: 239ce3096acac3256b92
Version: webpack 4.27.1
Time: 3596ms
Built at: 12/07/2018 6:34:07 PM
        Asset     Size  Chunks             Chunk Names
bundle.web.js  88

[2018-12-07 14:57] loganfsmyth commented on #174
[code]
does not make sense. `babel-loader` is not a preset.

[2018-12-10 07:08] surajSDM commented on #174
updated code with a valid preset used

**{
  "presets": ["env"]
}
**

now issue is going like this ===>

ERROR in ./App.js 20:6
Module parse failed: Unexpected token (20:6)
**You may need an appropriate loader to handle this file type.**
|   render() {
|     return (
**>       <View style={styles.container}>**
|         <Text style={styles.welcome}>Welcome to React Native!</Text>
|         <Text s

[2018-12-10 09:59] surajSDM commented on #174
i got the solution, i have done few changes in web config file, due to this it was not able to compile.
now another issue i am getting, i have used preset es2015 and it's looking not supporting ES6 standards, is there any way to use . es6 module to react native web???

[2018-12-10 10:00] #174 closed

[2018-12-10 17:05] crhistianramirez commented on #172
I can take a crack at it this evening

[2018-12-11 14:30] crhistianramirez commented on #172
Closing due to user error. I had a step after getting source scripts but before applying babel transformations that was relying on es5 code.

[2018-12-11 14:30] #172 closed

[2018-12-11 14:40] crhistianramirez commented on #172
@saiftase here is the  minimally set up repo i used to try and recreate the bug. Might help you find the root cause to your issue:

https://github.com/crhistianramirez/gulp-babel-bug-172

[2018-12-11 15:06] crhistianramirez commented on #173
I'm interested in this as well. I think you might need to add a .babelrc file. The schema for the options to babel seem to indicate that presets only takes in a string array, which of course wouldn't allow for the additional options you're specifying here. Can anyone else chime in?

[2018-12-16 03:44] mlelien opened #175 "Unexpected token error when using spread operator in Babel 7"
[code]

<img width="545" alt="screen shot 2018-12-15 at 10 39 57 pm" src="https://user-images.githubusercontent.com/14361496/50049761-603c6a80-00ba-11e9-9aae-94cf39dfb068.png">

I've tried it with `.babelrc` and `babel.config.js`.
Here's what my `.babelrc` looked like:

[code]

`babel.config.js`:
[code]

`webpack.config.js`:
[code]

All of the aforementioned files are in the project root.

[2018-12-16 03:45] mlelien commented on #175
Closing because I posted in the wrong branch

[2018-12-16 03:45] #175 closed

[2018-12-19 04:07] lili21 commented on #106
Still doesn't work. I'm using babel@7.2.2 and gulp-babel@8.0.0

[2018-12-19 04:11] lili21 commented on #106
work around: Using `gulp.src(..., { ignore: [...] }`

[2018-12-20 10:43] ArnoMandersTfe commented on #173
I'm also interested in an example

I now have this what seems to be working but don't know a way to test this.

[code]

[2018-12-20 10:47] ArnoMandersTfe commented on #167
I also had this probleem but wrapping it in a second array will fix it,

[code]

[2018-12-20 14:48] hkirsman commented on #173
You could try some new functions like fetch(). Seems even IE11 does not support it: https://caniuse.com/#feat=fetch The target source code should include some extra js there.

[2018-12-30 16:56] superted17 commented on #167
I experienced the same issue and could not get this working, even with the solution @ArnoMandersTfe has kindly provided.

Here is a Stack Overflow thread on this problem: https://stackoverflow.com/questions/52599370/gulp-babel-dont-produce-any-output-file-or-doesnt-work-properly

I could only get gulp-babel to work by using the Babel 6 install as outlined in the readme

[2019-01-01 07:49] primxia commented on #124
@abbassiddiqi thank you very much!it worked

[2019-01-11 06:10] luogeng2017 opened #176 "disable __esModule"
how to disable__esModule?
just like
[code]

[2019-01-11 07:15] luogeng2017 commented on #176
[code]

[2019-01-11 07:40] loganfsmyth commented on #176
If you do that, default import/export will not work properly with ES modules. I'd be curious to know why you want to do this.

[2019-01-12 00:49] luogeng2017 commented on #176
@loganfsmyth yes，but now i just use it in nodejs.if used in other env ,change the pakage config

[2019-01-12 01:00] loganfsmyth commented on #176
I'm sorry, I don't understand what using it in NodeJS has to do with this. If you're able to provide a more complete example, it would help me understand better.

[2019-01-12 22:52] operapreneur commented on #167
@vincentGustav I have a similar setup and I was able to resolve the issue by replacing the `@babel/env` in both the gulpfile and .babelrc with `@babel/preset-env`

[2019-01-12 23:47] pavlyukpetr opened #178 ""exports is not defined" error using gulp-babel"
I have this error in the browser in the file that was compiled via gulp-babel.
The part from the gulp task is
.pipe(babel({
        presets: ['@babel/preset-env'],
        plugins: [
            ["@babel/plugin-transform-classes"]]
    }))

[2019-01-19 09:13] luogeng2017 commented on #176
haha,It looks more like nodejs, this is just a personal habit,obsessive-compulsive。

[2019-01-24 16:19] pecko95 commented on #167
Same issue, seems it has not been fixed yet.

Dependencies installed:
[code]
Gulpfile:
[code]

It seems to **fail** to transpile ES6+ down to ES5 code. When trying to import something from a module, it returns either `exports is not defined` or `required is not defined`. If anyone has any fix to this, that'd be great.

[2019-02-19 08:47] web-pencil opened #180 "*.js files out of the root directory cannot be compiled"
gulpfile.js and other files are put in “tools” directory. Now I compile *.js under “builds” directory that is the same level as “tools” directory, but the compilation does not work.

// tools/gulpfile.js
[code]

[2019-03-06 04:00] thucxuong commented on #167
The reason is because of the preset and installed dependency is wrong.
This error is not logged out so a lot of dev do not know
`
{ Error: Cannot find module 'babel-preset-env' from '/Users/xuongluuthich/Code/src-static'
- Did you mean "@babel/env"?
    at Function.module.exports [as sync] (/Users/xuongluuthich/Code/src-static/node_modules/resolve/lib/sync.js:58:15)
    at resolveStandardizedName

[2019-03-06 19:15] MaheshSasidharan commented on #167
Was anyone able to find a solution? The above merge updated from `@babel/env` to the new `@babel/preset-env`

Which is what I have been using, but I still get just a minified file with all `require` lines in it.

`gulpfile.js`
[code]
-----------------------

`.babelrc`
[code]
-----------------------
`package.json`
[code]
----------------------
`entry.js` _(paths.js.source)_
[code]
----------------

[2019-03-08 03:46] 9yues opened #181 "Uncaught ReferenceError: require is not defined"
我使用gulp-babel 编译 async await 网页上会报错
node: 8.9.1
npm: 5.5.1
cnpm: 6.0.0
![image](https://user-images.githubusercontent.com/19297519/54006300-b7bd1480-4197-11e9-92e2-bf74008801c3.png)

附代码：
![image](https://user-images.githubusercontent.com/19297519/54006303-bbe93200-4197-11e9-8723-1e7675dd3001.png)
![image](https://user-images.githubusercontent.com/19297519/54006304-bc81c880-4197-11e9-8419-904f5191

[2019-03-12 00:33] SamuSan commented on #124
For anyone finding themselves down this rabbit hole, this comment is the _exact_ opposite of reality. Babel 7 moved to the @babel namespace.

[2019-03-26 22:28] luku commented on #124
For me the only working solution for Babel 7 was from [Babel setup guide](https://babeljs.io/setup#installation). Note the **gulp-babel@next**
[code]

[2019-04-06 18:32] sasilver75 commented on #142
This makes me very sad

can you

implement it

[2019-04-09 05:58] TangMonk opened #182 "install babel 6 failed"
[code]

error:

[code]

[2019-04-11 02:09] dataf3l commented on #93
@rbatllet  answer works! :D

[2019-04-24 22:42] aminimalanimal commented on #167
I too could only get gulp-babel to work by using the Babel 6 install as outlined in the readme:
[code]

With this, you'll have `presets: ['babel-preset-env']`.

[2019-04-29 03:51] steinhaug commented on #165
Make sure you are not using both v7 and v6 branch og babel. The "@babel/core" is the 7x branch and the "babel/core" is the 6x branch, you should not have both installed at once!

[2019-05-08 03:09] vans163 commented on #181
Same problem, this is so annoying

[2019-05-08 04:03] loganfsmyth commented on #181
This does not work because Babel does not handle module bundling. Generally you'd use `gulp-babel` to compile files that would be loaded in Node, which has its own module loader. To bundle code like this for a browser you'd want to use Webpack.

[2019-05-08 04:03] #181 closed

[2019-05-08 06:48] shawn-s-feng-nj commented on #165
I have the same question, how did you solve it ?

[2019-05-22 06:52] iplus26 commented on #173
I suggest you use `.browserslistrc` ([browserlist](https://github.com/browserslist)), which is widely supported by many open-source tools, Babel, Postcss, etc.

[2019-05-23 08:47] ay8yt opened #183 "JS 文件 语法错误时，编译无结果"
当JS文件出现语法错误时， 编译过程中不会出现任何错误提示， 也不生成任何结果。

[2019-05-29 03:53] Wxh16144 commented on #152
Thank you ever so much, Solved the headache of the day;

[2019-06-05 06:27] Super-Mumoo opened #184 "The packaging process was terminated when i use "babel""
not use：
![image](https://user-images.githubusercontent.com/38457677/58934648-ac30b800-879d-11e9-8b1f-fe1ad36b05c5.png)
output：
![image](https://user-images.githubusercontent.com/38457677/58934680-c4a0d280-879d-11e9-97f7-13aab653afc2.png)
all finished.

use:
![image](https://user-images.githubusercontent.com/38457677/58934785-13e70300-879e-11e9-8ff1-978c9c84e20b.png)
output:
![image](https://user-

[2019-06-05 08:17] loganfsmyth commented on #184
Generally this means that you have a syntax error in one of your files. You'd have to add `.on('error', e => console.error(e))` to log it somewhere.

[2019-06-07 15:12] ahmedofali commented on #97
Run this command :
[code]
then in the gulpfile add this

[code]

[2019-06-13 07:14] leitingx762 opened #185 "How to disable translate the chinese to unicode?"
my **gulpfiles.js** is
`function babelm () {
    return gulp.src(jsurl)
        .pipe(babel({ presets: ["@babel/env"] }))
        .on("error", err)
        .pipe(rename({ suffix: ".min" }))
        .pipe(gulp.dest(jsurl.replace("!(*.min).js", "")))
        .on("end", ok)
}
`

then...
My Chinese String has be translate to unicode...
![QQ截图20190613151151](https://user-images.githubusercontent.com/56

[2019-06-17 16:13] bluebrown commented on #167
I have these issues as well. Gulp doesn't seem to use preset-env. I tried multiple variations with @babel/env, babel-preset-env & @babel/preset-env.

[2019-07-22 11:39] Rakeshpatel87p opened #186 "Segmentation Fault: 11 ERROR on Compilation"
Hello all, when I make changes to a JS file that compiles down from ES6 using gulp-babel, I run into a Segmentation Fault: 11 error. The addition to the JS file can be as simple as a console.log which stops Gulp from running. All the other gulp tasks finish running except the ES6 conversion one.

However, once I rerun my Gulp file, the code compiles correctly and the JS file is outputting as expec

[2019-07-30 13:03] NemoNoone opened #187 "Error occurs when trying to run gulp"
I was learning JavaScript by the book "Learning JavaScript. 3rd Edition" And although I was doing everything as in the book I still got errors. Right now it is:

Message:
    C:\Users\archi\test\lj\public\es6\test.js: Unexpected token

Please, if someone could help me to figure this out?
Thank you in advance
Here is package.json
[code]

test.js
[code]
gulpfile.babel.js

[code]

[2019-08-17 14:53] morganney commented on #106
As a workaround you can just use the `ignore` option for `gulp.src`.

[2019-08-26 15:11] cbratschi commented on #167
No output here too on some files. Tried to downgrade gulp-babel but dependencies were broken.

[2019-08-26 15:39] cbratschi commented on #167
Modified the gulp-babel code and logged the error on console. There was a JavaScript parsing error in babel in my case.

The this.emit(error) call is not output to console nor does it interrupt the gulp processing. This is not ideal for analyzing issues.

[2019-09-19 01:01] kyle-jorve commented on #167
Has anyone figured this problem out yet? I'm also getting ES6 output from using gulp-babel.

Here's my package.json:
`{
  "name": "g",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "babel": {
    "presets": [
      "@babel/preset-env"
    ]
  },
  "browserslist": [
    "last 2 versions",
    "> 2%",

[2019-09-19 01:08] kyle-jorve commented on #167
Wow I really don't know why my comment looks all janky like that. Sorry guys! I tried to fix it...

[2019-09-23 18:08] nunospot commented on #167
Still not working.

PACKAGE.JSON
[code]

**TASK**
[code]

**Excerpt that was not transpiled**

[code]

The **Promisse** should be transpiled to ie10, since are one of my target.

[2019-09-25 21:51] Juniuz commented on #165
As @loganfsmyth said, if you are using Babel core v7 use `{ presets: ["@babel/preset-env"] }` in your gulpfile.js config, otherwise use `{ presets: ['es2015'] }` if you're using Babel core v6

[2019-09-30 03:29] aggregate1166877 commented on #124
Thought I'd add my own solution: delete `package-lock.json` and try again.

I have this issue crop up from time to time. Deleting `package-lock.json` solves it every time.

[2019-10-04 00:36] danyj commented on #167
Same here,  using webpack 4 + babel-loader with same dependencies works out of the box, gulp-babel is a no go for any version/presets/plugins combinations.  Files get moved to dest but they are not transpilled . No errors either.

[2019-10-09 09:58] Herz3h commented on #159
I have this problem aswell (using only gulp-babel along with gulp-sourcemaps), and the generated sourcemaps open properly in the browser, however they are desynced with original code. I'm using @babel/plugin-transform-async-to-generator for async/await support.

[2019-10-10 01:38] markypython opened #193 ".babelrc file not working"
When I use a `.babelrc` file, presets aren't loaded properly when using `gulp-babel`.  When I move the presets into the Gulpfile, then it starts working.

**gulpfile.js**

[code]

**.babelrc**

[code]

**Error**

[code]

[2019-10-10 06:09] nicolo-ribaudo commented on #193
You need to use `babel.config.js`: https://babeljs.io/docs/en/config-files/

[2019-10-10 12:12] markypython commented on #193
Thanks!

[2019-10-10 12:12] #193 closed

[2019-10-24 10:18] viT-1 opened #194 "Literals are not transformed"
Trying to use .babelrc config, but as a result use configuration in a task:
package.json:
[code]

gulp-task (show [in project](https://github.com/viT-1/systemjs-ts-es6-vue/commit/d39e56011595e523ec38991fdbdcd20b9915cc28#diff-c88ef83305da660752f4ce8952886440R35)):
[code]

[2019-10-25 12:51] anusharma9462 commented on #124
still getiing the same error., please help me out. i tried
npm install --save-dev gulp-babel @babel/core @babel/preset-env
ERROR in ./app/dev/App.jsx
Module build failed: Error: Cannot find module 'babel-core'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)

sharing my package.json
{
  "name": "CAP-offer-application",
  "version": "2.8.23",
  "description": "This is

[2019-10-31 16:02] samvk commented on #167
For us it turned out the issue wasn't directly related to gulp-babel, but that our browserslist was no longer transpilling down for IE11  (which has now hit `<2%`) so most ES6 features (arrow function, etc.) we're correctly being left alone.

[2019-11-20 05:51] EBEREGIT commented on #152
How exactly did you solve the problem? Can you list the steps?

[2019-11-20 05:52] EBEREGIT commented on #152
Please explain the steps to solve this issue. I don't understand

[2019-11-20 06:06] EBEREGIT commented on #152
yaayh... I solved it. I ran the following code and everything runs properly

`npm install gulp-babel@8.0.0`

[2019-12-02 11:17] ViswanathL opened #195 "ES5 transpiling issue, No output at all"
No output or error is given on gulp-babel during gulp task

Below are the package versions

`
        "@babel/core": "7.7.4",
        "@babel/preset-env": "7.7.4",
        "babel-preset-es2015": "^6.24.1",
        "babel-register": "^6.26.0",
        "gulp": "4.0.2",
        "gulp-babel": "8.0.0",
        "gulp-cli": "^2.0.1",
`

Usage

[2019-12-02 11:22] nicolo-ribaudo commented on #195
You are mixing Babel 6 and Babel 7. Try using `@babel/preset-env` instead of `es2015` in your Babel config.

[2019-12-02 11:29] ViswanathL commented on #195
@nicolo-ribaudo I have tried `@babel/preset-env` and other options. Not working...

[2019-12-03 14:49] Wildenhaus opened #196 "RangeError: Maximum call stack size exceeded when minifying Kendo UI"
Attempting to minify Kendo UI results in a RangeError. This appears to be a regression from `v7.0.1`. This occurs with [Kendo UI v2015.1.429](http://kendo.cdn.telerik.com/2015.1.429/js/kendo.all.min.js). This does not appear to affect the [latest version of Kendo UI](http://kendo.cdn.telerik.com/2019.3.1023/js/kendo.all.min.js).

**Dependencies:**
[code]

**Gulp Task:**
[code]

Attempting to minif

[2019-12-11 13:17] mkstix6 commented on #167
I'm struggling to get gulp-babel to do a simple transpile a file with occurrences of `String.prototype.includes`.

I would be grateful to see a recipe that transpiles `String.prototype.includes` for:
gulp@^4
gulp-babel@^8
@babel/core@^7
@babel/preset-env@^7

I've tried adding the babel preset and a browserslist but the output from the transpile is a file that still has `.includes` and I can see no

[2020-01-12 16:50] MGuitard commented on #195
@ViswanathL try using just "env" as preset for babel (you can get rid off `"babel-preset-es2015"`:
[code]
I also believe that you are using an old structure for Gulp, if you are still getting errors with the previous code, try the following gulpfile :

[code]

You also can get more info about environments here : [https://babeljs.io/docs/en/babel-preset-env](https://babeljs.io/docs/en/babel-preset-

[2020-01-12 17:52] MGuitard commented on #195
@ViswanathL try using just "env" as preset for babel (you can get rid off `babel-preset-es2015` and `@babel/preset-env`) :

**Your Gulpfile**
[code]

I also believe that you are using an old Gulp structure while using Gulp 4. If you are still getting errors with the previous code, try the following gulpfile :

**Gulp 4**
[code]

**Package JSON**
[code]

**Hope this may help!**

You also can get mo

[2020-01-28 16:04] GitGangGuy commented on #167
Thought I'd leave my two cents in here. Started a nearly bearbones project and gulp-babel refuses to do anything. Every other step in my gulp pipeline operates successfully, only the babel() command doesn't do anything, even though I'm using `@babel/preset-env` @ `^7.8.3` with `@babel/core` @ `^7.8.3` and `core-js` @ `^3.6.4` for use with preset-env. Here's my `.babelrc` in the root of my project:

[2020-01-28 16:05] GitGangGuy commented on #195
Duplicate of #167

[2020-01-29 18:24] tulioribeiro commented on #167
Same problem here.

[2020-02-03 15:40] kokoshneta opened #197 "Using generators/async-await etc. without modular bundler"
I’m not sure if this is the best place to ask, but here goes…

The documentation for this package says that,

Unfortunately, as noted in [several previous issues](https://github.com/babel/gulp-babel/issues?utf8=%E2%9C%93&q=%22require+is+not+defined%22) this just yields the error “`require` is not defined” because:

— [loganfsmyth](https://github.com/babel/gulp-babel/issues/181#issuecomment-4903388

[2020-02-06 07:02] lokesh14v commented on #124
Just go inside the babel-loader and change the require("babel-core")----to ----require("@babelcore")

[2020-02-06 07:03] lokesh14v commented on #124
After all,do this also .Just go inside the babel-loader and change the require("babel-core")----to ----require("@babelcore")

[2020-02-26 14:34] Rakeshpatel87p commented on #186
Ended up upgrading the version of Node being used to latest and no longer seeing this error. Closing this out.

[2020-02-26 14:34] #186 closed

[2020-02-28 11:24] irbian commented on #167
Ok, don´t know if it´s of any help but I can share my debug process

`.pipe(babel())` with a babel.config.js, didn´t work
`.pipe(babel())` with a babel.config.json, didn´t work
`.pipe(babel({ presets: ['@babel/preset-env'] }))` **did something**
`.pipe(babel({ presets: [['@babel/preset-env', { "useBuiltIns": "usage", "core": "3.6" }]] }))` didn´t work
`.pipe(babel({ presets: [['@babel/preset-env',

[2020-03-02 16:51] nicolo-ribaudo commented on #197
You can add `<script src="https://unpkg.com/browse/regenerator-runtime@0.13.4/runtime.js"></script>` to your HTML file, _before_ loading your JavaScript code.

[2020-03-02 17:36] irbian commented on #197
thanks, I´ll try!

[2020-03-03 11:29] sts-ryan-holton commented on #97
This isn't working, my JS is:

[code]

[2020-03-03 13:38] nicolo-ribaudo commented on #97
@sts-ryan-holton That's not enough to reproduce the error. Can you post the full stack trace, the input code and the generated code?

[2020-04-03 11:12] WuglyakBolgoink opened #199 "babel produce multiple duplicates in output bandle file"
Hallo guys!

I found some "feature bug" problem in our output bandle file.

Babel create x-same functions for each file which contain es6 class.

For example currently what we have:

1.  _classCallCheck - 133x
2. ownKeys - 24
3. _defineProperties - 198x

Can anyone help me with that or say how I can reduce count of this functions?

PS: we use old angularJS files together with new es6 classes...

[2020-04-03 12:36] nicolo-ribaudo commented on #199
By default, Babel injects inline helpers in every file. You can use `@babel/plugin-transform-runtime` (and add `@babel/runtime` to your dependencies) to decuplicate them.

[2020-04-20 05:57] jakhongir-i opened #200 "gulp-babel@8.0.0" has unmet peer dependency"
`warning " > gulp-babel@8.0.0" has unmet peer dependency "@babel/core@^7.0.0". `

How i can fix this **warning** ?

[2020-04-20 09:47] nicolo-ribaudo commented on #200
`npm install --save-dev @babel/core`

[2020-04-26 15:47] BananaNeil commented on #124
Only this ^ worked for me.

[2020-04-29 02:35] lpcaldeira commented on #167
`npm update` solve it for me :)

[2020-05-13 08:33] danielo515 opened #201 "Plugins is not just an array of strings"
Hello, this is the current definition of what plugins config option looks like:

[code]

Which is not correct because plugins can be an array of strings, or an array of arrays containing both strings and config for each module. Please take a look at:
https://babeljs.io/docs/en/plugins#plugin-options

Regards

[2020-05-15 13:27] maciej-gawlas commented on #97
@sts-ryan-holton try to add additional brackets :
`.pipe(babel({
    presets: [['@babel/preset-env', {modules: false}]]
  }))
`

[2020-05-17 00:46] icassidyif commented on #197
<script src="https://unpkg.com/browse/regenerator-runtime@0.13.4/runtime.js"></script>
don't work. Do you  have another link?

[2020-05-17 07:35] nicolo-ribaudo commented on #197
https://unpkg.com/regenerator-runtime@0.13.4/runtime.js

[2020-06-02 12:43] John-Blair commented on #166
Any chance of being clear on what the fix to this issue is? Thanks.
Maybe give me a list of commands to execute to fix it?

[2020-06-27 06:27] nebrekab opened #202 "importing gulpfile.babel.js into another gulpfile.babel.js throws ES6 error"
I am trying to run a parent folder (global) gulpfile.babel.js within a sub folder gulpfile.babel.js and have run in to an issue:

[code]

Code is:

[code]

[code]
[code]

If I change the parent  gulpfile.babel.js to ES5 code it runs fine:

[code]

Any ideas what's going on and how to fix?

Thanks in advance :)

[2020-06-30 16:50] Zardoz89 commented on #173
.browserslistrc isn't an option when you need to generate bundles for different browsers. Aka one for IE11 and other for FF/Chrome/Edge/Safari/Opera.

Yes, it's 2020 and some people must keep compiling webs that works on IE11.

[2020-07-18 02:45] ilikebuttons commented on #142
This is what did it for me:

`npm install --save-dev babel-plugin-transform-object-rest-spread`

Then, in package.json, I added the following babel configuration:

[code]

[2020-08-17 14:27] aprinciple commented on #197
`plugins: [
  ['@babel/transform-runtime']
]`

[2020-08-26 20:52] StevOmics commented on #124
Still not working. Thanks

[2020-09-23 03:45] murongg opened #204 "Caching was left unconfigured. Babel's plugins, presets, and .babelrc.js files can be configured for various types of caching, using the first param of their handler functions:"

[2020-10-09 09:40] jdavis-software commented on #124
If you are using `@babel-core (v7.0+)` you need to upgrade to the latest version of `babel-loader (v8.0)`  simply run this command.

`npm install -D babel-loader@8.0.0`

[2020-11-01 02:07] cowwoc opened #206 "@types/gulp-babel contains wrong type for presets"
gulp-babel: 8.0.0
@types/gulp-babel: 6.1.29

The typescript definition file contains:

[code]

Notice that presets is expected to be a `string[]` but according to https://babeljs.io/docs/en/options they should be a `PresetEntry[]` where `PresetEntry` is a `EntryTarget | [EntryTarget, EntryOptions] | [EntryTarget, EntryOptions, string] | ConfigItem`.

[2020-11-12 07:05] mudlabs opened #207 "Must export a default export when using ES6 modules."
[code]

[code]
[code]

[code]

[2020-11-25 21:33] guilhermesantoss commented on #97
@maciej-gawlas thanks dude!

[2020-12-01 07:49] #207 closed, assigned to nobody

[2021-02-18 17:37] nicolo-ribaudo commented on #206
This should be reported to https://github.com/DefinitelyTyped/DefinitelyTyped, the TS types are not maintained in this repository.

[2021-02-18 17:38] #200 closed

[2021-02-18 17:39] #206 closed, assigned to nobody

[2021-02-18 17:39] nicolo-ribaudo commented on #201
This should be reported to https://github.com/DefinitelyTyped/DefinitelyTyped, the TS types are not maintained in this repository.

[2021-02-18 17:39] #201 closed

[2021-02-18 17:40] nicolo-ribaudo commented on #173
https://github.com/babel/gulp-babel/issues/173#issuecomment-448953020

This example is correct. As an alternative, you can use a `babel.config.js` file.

[2021-02-18 17:40] #173 closed

[2021-02-18 17:48] nicolo-ribaudo commented on #182
The last `gulp-babel` release needs Babel 7, not Babel 6.

[2021-02-18 17:48] #182 closed

[2021-02-18 17:58] nicolo-ribaudo opened #211 "Do not change the original file extension"
**DISCLAIMER:** I know that this issue has already been [proposed and rejected different times](https://github.com/babel/gulp-babel/issues?q=is%3Aissue+sort%3Aupdated-desc+is%3Aclosed+extension).

`gulp-babel` always renames the file to `.js`, regardless of the input extension. This was the most reasonable behavior until a few years ago: `.js` was the only extension for JavaScript.

However, now t

[2021-02-19 14:09] nicolo-ribaudo commented on #199
Answered - https://github.com/babel/gulp-babel/issues/199#issuecomment-608409520

[2021-02-19 14:09] #199 closed

[2021-02-26 18:21] LAXITKUMAR commented on #178
Facing same issue, I guess transpiling for "amd" is not happening even after setting modules options as "amd".

[2021-03-03 06:32] deadmann commented on #176
I wish I could remove it an flatten my codes :|

First I wrote JS helpers, then turn them to TS, then moved to angularJS 1.6, then changed them for angular 7, then changed them for react, now again I wish to use them with browser JS, and it gives me trouble, why TS can't do a simple thing in a simple way. :|
now I can only export for AMD and SystemJS, which both require 'require' which both, I hav

[2021-03-06 04:00] ManuSquall commented on #124
Thanks @jdavis-software , this one work for me

[2021-03-20 14:29] kimanicharles911 commented on #124
Then run ```npm i```

[2021-03-28 13:32] AllanOricil commented on #124
Did not work

![image](https://user-images.githubusercontent.com/55927613/112754080-6a0be280-8fd2-11eb-80ce-8e13342cfc6d.png)

[2021-05-28 02:36] zzzzzc opened #215 "{strictMode: false} not work"
During the use of the plugin, an error is reported   ` Binding 'arguments' in strict mode. `

`  plugins: [
    ["@babel/plugin-transform-modules-commonjs", { strictMode: false }],
  ], `
is not work.

Whether strict mode is no longer allowed to be turned off during compression?

[2021-05-28 07:38] nicolo-ribaudo commented on #215
`strictMode: false` allows you to avoid injecting `"use strict";` in the compiled code, but the input files are still parsed as strict code if they are ESM or have the `"use strict"` directive.

[2021-06-21 19:28] LeaVerou opened #217 ""@babel/core@^7.0.0 is required" even though @babel/core is 7.x.x"
Here is the output of `npm list`:

[code]

And yet, when I try to use `gulp-babel`, I get:

[code]

--------

I [looked at the code that produces this error](https://github.com/babel/gulp-babel/blob/46db7eefad83aee00de102128ba2745b687d3136/index.js#L78) and then created this testcase:

[code]

Running that gave me the culprit:

[code]

Addressing that fixed my issue. However, this was a very frust

[2021-06-29 08:09] szl-shalom commented on #217
what can i do with thisquestion ?

[2021-07-15 14:25] ghost opened #218 "Having one extra `/` in a line hangs gulp forever"
I thought it was one of the packages, but on one line there was:

`/ export default <etc>`
and this hangs gulp forever, or at least that made it to fix.
Hope no one experiences this.

[2021-07-21 00:37] tomfuertes commented on #217
Note: Just for SEO help. Probably not a final resolution

Had this error when browserslist wasn't defined in either `package.json` or `.browserslistrc` per details in README here: https://github.com/browserslist/browserslist

[2021-07-30 10:05] sf-steve opened #219 "Documentation: How to use polyfills"
I am failing miserably to get gulp-babel to pollyfil instance methods such as `Array.prototype.includes`

Looking through the internet, i see various docs, such as https://babeljs.io/docs/en/usage/#polyfill but no indication of how to use this with gulp-babel

I have a very basic setup:

package.json

[code]
gulpfile.js

[code]

After running the js task, `dist/js/main.js` will have arrow function

[2021-10-12 04:07] jackcylin commented on #167
yarn add -D @babel/preset-env work for me

[2021-11-06 01:36] the-last-byte opened #221 "Build failing with `[PluginError: @babel/core@^7.0.0 is required]` when version `7.16.0` is in use."
https://github.com/babel/gulp-babel/blob/46db7eefad83aee00de102128ba2745b687d3136/index.js#L69-L90

[2021-11-06 07:51] the-last-byte commented on #221
I've just encountered this issue with the following setup:
[code]

I checked to see whether another package was to blame:
[code]

The output was:
[code]

Could `@babel/core` have re-introduced the field or removed the error message?

[2021-11-12 20:27] #221 closed, assigned to nobody

[2021-11-24 12:51] dkornilove commented on #184
@Super-Mumoo did you find a error? experiencing the same issue here

[2021-11-29 11:44] Super-Mumoo commented on #184
I almost forgot the issues I submitted, because I left my job shortly after I submitted the issues, so I didn't pay any more attention this issues.

The later colleagues in charge of the project seem to have changed their strategy. I'll ask and I'll get back to you if I get a helpful answer to this question

[2021-11-29 11:49] FrontEndNoah commented on #184
I almost forgot the issues I submitted, because I left my job shortly after I submitted the issues, so I didn't pay any more attention this issues.

I asked my former colleague. He tell me there is problem of code instead babel, he print the error message in the error callback and fixed.

like this
![image](https://user-images.githubusercontent.com/38457677/143862933-b24a1464-9e71-4589-b0ab-fa71a8

[2021-11-29 11:49] #184 closed

[2021-11-29 12:05] FrontEndNoah commented on #184
Sorry to reply you now, cause  I left my job shortly after I submitted the issues, so I didn't pay any more attention this issues. it's really a problem of code. I have closed this issue.

[2022-03-01 11:59] #218 closed, assigned to nobody

[2022-05-06 13:47] #204 closed, assigned to nobody

[2022-05-23 03:10] SoldierAb commented on #217
I'm having same issue after run `yarn build`, Here is the configurations:

package.json
[code]

.babelrc.js
[code]

from my respo https://github.com/SoldierAb/k-view-react

[2022-09-22 10:47] ibrouos commented on #217
@LeaVerou This doesn't solve the post but just an appreciation comment that your debugging tip helped me! my issue was that I was using `"browserlist"` instead of "`browserlist"` in the package.json file.

[2022-09-26 08:07] lvpangpang opened #226 "Cannot find package '@babel/plugin-transform-runtime'"
我基于gulp写了一个脚手架，用到了gulp-babel编译js
我写好这个脚手架后发布到npm，然后在本地新建一个文件夹局部安装这个脚手架一切正常
但是当我把这个脚手架全局安装后在项目文件夹使用会报错

[15:34:15] Error in plugin "gulp-babel"
Message:
    Cannot find package '@babel/plugin-transform-runtime' imported from C:\Users\57481\Desktop\github\test-gulp-admin-global\babel-virtual-resolve-base.js

唯一的区别就是一个是局部安装一个是全局安装

`gulp.task("js", function () {
  return (
    gulp
      .src(resolve